	<!-- Main View: generate all content for display -->
<!DOCTYPE html>
<html lang="en" ng-app='SPR'>
	<head>
			<!-- Compatibility & view issues -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	    <title>OxSPR: Simulation Challenge</title>
	    	<meta property="og:url"           content="https://learntech.imsu.ox.ac.uk/SPR/" />
			<meta property="og:type"          content="website" />
			<meta property="og:title"         content="Oxford Biochemistry: SPR Simulation Challenge" />
			<meta property="og:description"   content="Learn experimental design through simulation of surface plasmon resonance created by Oxford Biochemistry Department" />
			<!--meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /-->

	    	<!-- Angular Libraries & Credits -->
		<script type="text/javascript" src="libraries/angular/angular.min.js"></script>
		<script type="text/javascript" src="libraries/angular/angular-cookies.min.js"></script>

			<!-- jQuery Libraries & Credits, load before Bootstrap & Flot since they requires it -->
		<script type="text/javascript" src="libraries/jquery/jquery-1.11.3.min.js"></script>

			<!-- Bootstrap Libraries -->
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap-theme.min.css">
		<script type="text/javascript" src="libraries/bootstrap/bootstrap.min.js"></script>

			<!-- Angular Flot Chart Libraries & Credits -->
		<script type="text/javascript" src="libraries/flot/jquery.flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/angular-flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/jquery.flot.tooltip.min.js"></script>
		<script type="text/javascript" src="libraries/flot/jquery.flot.axislabels.js"></script>
		<script type="text/javascript" src="libraries/flot/jquery.flot.selection.js"></script>
		<script type="text/javascript" src="scripts/services/chart-config.js"></script>

	    	<!-- Ui-grid Libraries & Credits -->
	    <link rel="stylesheet" href="libraries/ui-grid/ui-grid.min.css">
	    <script type="text/javascript" src="libraries/ui-grid/ui-grid.min.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/exporter.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/selection.js"></script>    
		<script type="text/javascript" src="scripts/services/table-config.js"></script>

			<!-- Google Fonts Web Font Embedding & Credits -->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:700'>
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:300,500' rel='stylesheet' type='text/css'>

	    	<!-- Personal libraries, load last since these files will be referencing to those previous libraries too -->
		<script type="text/javascript" src="scripts/index_model.js"></script>
		<script type="text/javascript" src="scripts/services/system_model.js"></script>
		<script type="text/javascript" src="scripts/services/experiment_status.js"></script>
		<script type="text/javascript" src="scripts/services/output_model.js"></script>
		<script type="text/javascript" src="scripts/filters/time_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/mw_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/uM_filter.js"></script>
		<script type="text/javascript" src="scripts/index_controller.js"></script>
		<link rel="stylesheet" href="styles/main.css">
	</head>

	<body ng-controller="viewCtrl as view">

		<!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

			<!-- Distinguishing content for small device size media query -->
		<div class="smallDevice">
			<h1 class="smallDevice-heading">Oh Snap!</h1><br>
			<h4 class="smallDevice-message">We know you are excited to play with the simulation</h4>
			<h4 class="smallDevice-message">However, for the best playing experience</h4>
			<h4 class="smallDevice-message">we would suggest switching to a device with larger screen size <br><font color="red">(at least an iPad viewing in landscape)</font></h4>
			<h4 class="smallDevice-message">See you there! :)</h4>
		</div>

			<!-- Distinguishing content for large device size media query --> 
		<div class="largeDevice">	
				<!-- 1. Navigation Bar  -->
			<nav id="oxonHeaderFooter" class="navbar navbar-fixed-top navbar-custom">
				<div class="navbar-menu">
					<a href="" class="navbar-text navbar-link">HOME</a>
					<a href="" class="navbar-text navbar-link">OBJECTIVES</a>
					<a href="" class="navbar-text navbar-link">SPR</a>
					<a href="" class="navbar-text navbar-link">EXPERIMENT DESIGN</a>
					<a href="" class="navbar-text navbar-link">CRITIQUE</a>
					<div class="navbar-text navbar-clicked">SIMULATION</div>
					<a href="" class="navbar-text navbar-link">SUMMARY</a>
					<a href="" class="navbar-text navbar-link">CONTACT</a>
				</div>
			</nav>

				<!-- 2. Main controller box -->
			<div id="controller-box" class="container-fluid">
				<div id="guide-mastery-box" class="container-fluid col-md-3">
						<!-- i. Panel: high score display (mastery mode only) -->
					<div class="panel-heading">MASTERY SCORE</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Lowest Number of Steps Taken -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Efficiency Points</div>
							<div class="tracked-value">54</div>
						</div>
							<!-- b. Average Steps -->
						<div class="col-md-6 track-panel" data-toggle="tooltip" title="exclude accounting outliers">
							<div>Optimum Steps</div>
							<div class="tracked-value">24</div>
						</div>
					</div>
					<br>
						<!-- ii. Panel: guide mode -->
					<div class="panel-heading">GUIDE MODE</div>
					<div class="panel-body clickable-box">
							<!-- a. Button: guide vs mastery mode selector -->
						<div class="mode-selection">
							<button class="button clickable1 col-md-6" ng-click="view.guideMode = true" ng-disabled="view.guideMode == true">OPEN</button>
							<button class="button clickable2 col-md-6" ng-click="view.guideMode = false" ng-disabled="view.guideMode == false">CLOSE</button><br><br>
						</div>
							<!-- b. Buttons: select objectvies modal trigger -->
						<div class="select-objectives-box col-md-12" ng-show="view.guideMode == true">
								<!-- 1. Heading -->
							<div id="objectives-heading" class="col-md-12">Show Hints</div>
								<!-- 1. Button: "1" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#firstObjective_modal">1</button>
								<!-- 2. Button: "2" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#secondObjective_modal">2</button>
								<!-- 3. Button: "3" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#thirdObjective_modal">3</button>
								<!-- 4. Button: "4" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#forthObjective_modal">4</button>
								<!-- 5. Button: "5" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#fifthObjective_modal">5</button>
								<!-- 6. Button: "6" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#sixthObjective_modal">6</button>
								<!-- 7. Button: "7" -->
							<button type="button" class="button select-objectives clickable1" data-toggle="modal" data-target="#seventhObjective_modal">7</button>
						</div>
					</div><br>
						<!-- iii. Panel: check answer -->
					<div class="panel-heading">CHECK ANSWER</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Form: check Kd -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Kd</div>
							<form novalidate name="check_Kd">
								<input class="form" name="Kd_input" type="number" ng-model="input_check_Kd" placeholder="number" required>
							</form>
						</div>
							<!-- b. Form: check kOn -->
						<div class="col-md-4 track-panel">
							<div>k<sub>on</sub></div>
							<form novalidate name="check_kOn">
								<input class="form" name="kOn_input" type="number" ng-model="input_check_kOn" placeholder="number" required>
							</form>
						</div>
							<!-- c. Form: check kOff -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>k<sub>off</sub></div>
							<form novalidate name="check_kOff" >
								<input class="form" name="kOff_input" type="number" ng-model="input_check_kOff" placeholder="number" required>
							</form>
						</div>
							<!-- d. Dropdown Menu: units for check Kd -->
						<div class="col-md-4 unit-panel gloss-contrast">
							<select class="units_dropdown" ng-model="magnitudeSelected_check_Kd" ng-init="magnitudeSelected_check_Kd = 2">
								<option ng-value="0">mM</option>
								<option ng-value="1">uM</option>
								<option ng-value="2" ng-selected="true">nM</option>
							</select>						
						</div>
							<!-- e. Dropdown Menu: units for check kOn -->
						<div class="col-md-4 unit-panel">
							<select class="units_dropdown" ng-model="magnitudeSelected_check_kOn" ng-init="magnitudeSelected_check_kOn = 2">
								<option value="0">Ms&#x207b;&#xb9;</option>
								<option value="1">ks&#x207b;&#xb9;</option>
								<option value="2" ng-selected="true">s&#x207b;&#xb9;</option>
							</select>						
						</div>
							<!-- f. Dropdown Menu: units for check Kd -->
						<div id="default_unit" class="col-md-4 unit-panel gloss-contrast">
							<div>M<sup>-1</sup>s<sup>-1</sup></div>
						</div>
							<!-- g. Button: check -->
						<div id="check-btn-container" class="col-md-12 gloss-contrast2">
							<button id="check_submit" class="button clickable1" ng-click="view.check(input_check_Kd, input_check_kOn, input_check_kOff, magnitudeSelected_check_Kd, magnitudeSelected_check_kOn)" ng-disabled="check_Kd.Kd_input.$invalid || check_kOn.kOn_input.$invalid || check_kOff.kOff_input.$invalid">SUBMIT</button>
						</div>
					</div>
				</div>

				<div id="output-box" class="container-fluid col-md-6">
						<!-- iv. Panel: sensorgram output graph (angular flot chart) -->
					<div class="panel-heading">SENSORGRAM</div>
					<div id="sensorgram">
						<flot id="flot" dataset="view.chart.dataset" options="view.chart.options"></flot>
					</div><br>

						<!-- v. Console -->
					<div id="console" class="panel-body">
							<!-- b. Prompt: after having lunch -->
						<div ng-show="view.experiment.timeOfDay == 13.5">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Break for lunch]</font><br>
							12.00-13.00: Had lunch at Biochemistry Cafe with friends<br>
							13.00-13.30: Began new experiment after the lunch<br>
						</div>
							<!-- c. Prompt: before having dinner -->
						<div ng-show="view.experiment.timeOfDay == 17.0">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[End of official working hour]</font><br>
							You are getting tired and everyone is leaving.<br>
							It is best that you go <u>HOME</u> and continue your experiment tomorrow<br>
							<font color="#c33e3e">*note: any experiment performed after this time onwards will have a higher chance of getting poor standard deviation</font>
						</div>
							<!-- d. Prompt: after having dinner -->
						<div ng-show="view.experiment.timeOfDay == 18.5">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Break for dinner]</font><br>
							17.00-18.00: Had dinner at The Eagle & Child with friends<br>
							18.00-18.30: Began new experiment after the dinner<br>
						</div>
							<!-- e. Prompt: before having supper -->
						<div ng-show="view.experiment.timeOfDay == 21.0">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[High risk of human error]</font><br>
							You are beginning to feel sleepy and lose concentration.<br>
							It is best that you go <u>HOME</u> and continue your experiment tomorrow<br>
							<font color="#c33e3e">*note: any experiment performed after this time onwards will have a higher chance of getting unacceptable standard deviation</font>
						</div>
							<!-- f. Prompt: after having supper -->
						<div ng-show="view.experiment.timeOfDay == 22.5">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Break for supper]</font><br>
							21.00-22.00: Had mars bars alone in the lab.<br>
							22.00-22.30: Began new experiment after supper<br>
						</div>
							<!-- g. Prompt: end of day -->
						<div ng-show="view.experiment.timeOfDay == 24.0">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Security guard warning]</font><br>
							The security guard is closing the Biochemistry building now.<br>
							Unfortunately, you will have to end the experiment now and go <u>HOME</u>.<br>
						</div>
							<!-- h. Prompt: return home -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[End of a day @ {{view.experiment.endOfExperimentTime | timeFilter}}]</font><br>
							Automatic lab clean-up. . . Clean-up completed.<br>
							See you tomorrow!<br>
						</div>
							<!-- i. Prompt: start of day auto-setup -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && fLC_Form.fLC.$pristine && timeOn_Form.timeOn.$pristine || view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Start of a new day @ 9.00]</font><br>
							Experiment automatically setup. . . Setup completed @ 9.30.<br>
							Ready to <u>START</u>. Please input values for <u>Free Ligand Concentration</u> and <u>Association Time</u> in <u>CONTROL PANEL</u> to begin.<br>
						</div>
							<!-- j. Prompt: remove background -->
						<div ng-show="view.isDisabled_background == false && fLC_Form.fLC.$dirty && view.guideMode == true">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Tip: remove background reading prior to performing an experiment]</font><br>
							You should begin the experiment by setting the value of background reading before trying any other <u>Free Ligand Concentration</u>. You can do this by:<br>
							(1) running <u>Free Ligand Concentration</u> = 0 M and <u>WASH</u><br>
							(2) then clear <u>BACKGROUND</u><br>
							<font color="#c33e3e">*Note: Any previously generated sensorgram plot will be clear once a new background had been set.</font><br>
						</div>
							<!-- k. Prompt: remove background successs -->
						<div ng-show="view.backgroundSet !== 0 && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] == 0">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Success: remove background]</font><br>
							Background had been set at {{view.backgroundSet}} {{view.backgroundUnitsSet}}.<br>
						</div>
							<!-- l. Prompt: RU on result is invalid -->
						<div ng-show="view.output.fLC.length !== 0 && !(0.99*view.output.RU_On_Max[view.output.RU_On_Max.length-1] < view.output.RU_On_Output[view.output.RU_On_Output.length-1]) && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.guideMode == true">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Tip: resulting max RU value is invalid]</font><br>
							The <u>max RU</u> value for this input <u>Free Ligand Concentration</u> is not yet at equilibrium binding before <u>WASH</u> off. This mean that the <u>max RU</u> value for this data set is <font color="#c33e3e">invalid and cannot be use for plotting in Langmuir Isotherm</font>. Please increase the input <u>Association Time</u> duration until you observe that the graph achieve a plateau. Also, do note down the trial number of this dataset so you will not use it for plotting the Langmuir Isotherm later.<br>
						</div>
							<!-- m. Prompt: Low concentration suffer from high absolute error % -->
						<div ng-show="view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] < 0.00000001 && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.output.fLC_tableDisplay.length > 0 && view.guideMode == true">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Tip: Be careful of working with low concentration]</font><br>
							Using a low <u>Free Ligand Concentration</u> will result in high percentage of absolute error relative to the resonance output. Try not to use them unless necessary.<br>
						</div>
							<!-- l. Prompt: invalid free ligand conc. -->
						<div ng-show="fLC_Form.fLC.$dirty && fLC_Form.fLC.$invalid">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Invalid free ligand concentration input]</font><br>
							I'm sorry but <u>Free Ligand Concentration</u> can only intake a number equal or above {{view.output.minimum_fLC_input}}. Please change it before you <u>START</u> the next experiment.<br>
						</div>
							<!-- m. Prompt: invalid time on -->
						<div ng-show="timeOn_Form.timeOn.$dirty && timeOn_Form.timeOn.$invalid">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Invalid association time input]</font><br>
							I'm sorry but <u>Association Time</u> input can only intake a number between 1 to 900. Please change it before you <u>START</u> the next experiment.<br>
						</div>
							<!-- n. Prompt: maximum number of curve on graph reached -->
						<div ng-show="view.output.RU_CompiledLabelPlotAll.length == 20">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Maximum no. of plot on sensorgram reached]</font><br>
							There are too many plots on <u>SENSORGRAM</u>. Please <u>CLEAR</u> your <u>SENSORGRAM</u> before you continue. Do not worry, the data on your results table will not be cleared.<br>
						</div>
							<!-- o. Prompt: Answer is correct -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true || view.kOn_correct == true || view.kOff_correct == true)">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Correct answers]</font><br>
								<p class="declare-result" ng-show="view.Kd_correct == true">Your Kd value is correct!</p>
								<p class="declare-result" ng-show="view.kOn_correct == true">Your k<sub>on</sub> value is correct!</p>
								<p class="declare-result" ng-show="view.kOff_correct == true">Your k<sub>off</sub> value is correct!</p>
						</div>
							<!-- p. Prompt: Answer is wrong -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == false || view.kOn_correct == false || view.kOff_correct == false)">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Wrong answers]</font><br>
								<p class="declare-result" ng-show="view.Kd_correct == false">Your Kd value is wrong!</p>
								<p class="declare-result" ng-show="view.kOn_correct == false">Your k<sub>on</sub> value is wrong!</p>
								<p class="declare-result" ng-show="view.kOff_correct == false">Your k<sub>off</sub> value is wrong!</p>
						</div>
							<!-- q. Prompt: All answer is correct! -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true && view.kOn_correct == true && view.kOff_correct == true)">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[All answer is correct!]</font><br>
							Well done! You have achieved all correct answers and finish the simulation! Thanks for playing :)<br>
							OxSPR is still currently a prototype. If you like the software, please support the project by providing <b><a href="" class="blue-link">feedback</a></b> and <b><a target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?sdk=joey&u=https%3A%2F%2Flearntech.imsu.ox.ac.uk%2FSPR%2F&display=popup&ref=plugin&src=share_button','title','width=500,height=300')" class="blue-link">share</a></b> it to anyone you think might be helpful.<br><br>
							<font color="#c33e3e">*Note: Please export your data before you exit. You can find the function to export at the red menu button in the results table.</font><br>
						</div>

							<!-- r. Prompt: session over -->
						<div ng-show="view.experiment.daysLeft == 0 && view.experiment.timeOfDay == view.experiment.endOfDay">
							<font color="#70BF41">> Console:</font>&nbsp;
							<font color="#ececec">[Experiment Ended]</font><br>
							You ran out of time to finish the experiment. To try again without changing the system, click <u>RESTART</u>.<br>
						</div>
					</div><br>

						<!-- vi. Panel: results table (ui-grid) -->
					<div class="panel-heading">RESULTS TABLE</div>
					<div id="result-table">
						<div class="grid" ui-grid="view.table.options" ui-grid-selection ui-grid-exporter ui-grid-auto-resize></div>
					</div><br>
				</div>
				
				<div id="status-system-box" class="container-fluid col-md-3">
						<!-- vii. Panel: experiment status-->
					<div class="panel-heading">YOUR EXPERIMENT STATUS</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Your Days Left -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Days Left</div>
							<div class="tracked-value">{{view.experiment.daysLeft}}</div>
						</div>
							<!-- b. Your Time -->
						<div class="col-md-6 track-panel">
							<div>Time</div>
							<div class="tracked-value">{{view.experiment.timeOfDay | timeFilter}}</div>
						</div>
							<!-- c. Yout Efficiency Points -->
						<div class="col-md-6 track-panel"  ng-show="view.guideMode == true">
							<div>Efficiency Points</div>
							<div class="tracked-value">{{view.output.efficiencyRating}}</div>
						</div>
							<!-- d. Your Steps Taken -->
						<div id="track-panel-steps" class="col-md-6 track-panel gloss-contrast" ng-show="view.guideMode == true">
							<div>Steps</div>
							<div class="tracked-value">{{view.experiment.steps}}</div>
						</div>
					</div><br>

						<!-- viii. Panel: controls -->
					<div class="panel-heading">CONTROL PANEL</div>
					<div class="panel-body clickable-box">
							<!-- a) "Start" button -->
						<div class="box-left-btn">
							<button type="button" class="button clickable1 col-md-12" ng-click="view.runExperiment(magnitudeSelected_input_Kd, input_fLC, input_timeOn)" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_run == true || view.experiment.timeOfDay == view.experiment.endOfDay || view.output.RU_CompiledLabelPlotAll.length == 20" data-toggle="tooltip" title="Require: free ligand concentration and association time input">START</button> 
								<!-- note: set to 20 since on and off graph counted as a separate ones -->
						</div>
							<!-- b) "Washing up" button -->
						<div class="box-right-btn">
							<button class="button clickable2 col-md-12" ng-click="view.washUp(input_timeOn)" ng-disabled="view.isDisabled_wash == true" data-toggle="tooltip" title="Require: initiated START">WASH</button>
						</div>
							<!-- c) "remove background value" button -->
						<div class="box-left-btn">
							<button class="button clickable2 col-md-12" ng-click="view.set_background()" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_background == true || view.isDisabled_run == true || view.output.RU_On_Output.length == 0 || view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0" data-toggle="tooltip" title="Require: START free ligand concentration = 0 M">BACKGROUND</button>
						</div>
							<!-- d) "Go home" button -->
						<div class="box-right-btn">
							<button class="button clickable1 col-md-12" ng-click="view.goHome()" ng-disabled="view.experiment.timeOfDay == view.experiment.startOfDay || view.experiment.daysLeft == 0">HOME</button>
						</div>
							<!-- e) "Clear chart" button -->
						<div class="box-left-btn">
							<button class="button clickable1 col-md-12" ng-click="view.clearChart()" ng-disabled="view.output.RU_CompiledLabelPlotAll.length == 0" data-toggle="tooltip" title="Data in table will not be erase">CLEAR</button>
						</div>
							<!-- f) "Restart" button -->
						<div class="box-right-btn">
							<button type="button" class="button clickable2 col-md-12" data-toggle="modal" data-target="#restart_modal" ng-disabled="view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysLeft == view.experiment.daysAllowed" data-toggle="tooltip" title="All data will be erase. Ligand-Receptor will not change.">RESTART</button>
						</div><br><br>
							<!-- h. Free Ligand Concentration Input -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Free Ligand Concentration</div>
							<form novalidate name="fLC_Form">
								<input class="form" name="fLC" type="number" step="1" min="{{view.output.minimum_fLC_input}}" placeholder="number" ng-model="input_fLC" required>
							</form>
						</div>
							<!-- i. Association Time Input -->
						<div class="col-md-6 track-panel gloss-contrast2">
							<div>Association Time</div>
							<form novalidate name="timeOn_Form">
								<input class="form" name="timeOn" type="number" step="1" min="1" max="900" placeholder="number" ng-model="input_timeOn" required>
							</form>
						</div>
							<!-- j. Drop-down Menu: Selecting units for free ligand concentration units -->
						<div class="col-md-6 unit-panel gloss-contrast">
							<select class="units_dropdown" ng-model="magnitudeSelected_input_Kd" ng-init="magnitudeSelected_input_Kd = 2">
								<option ng-value="0">mM</option>
								<option ng-value="1">uM</option>
								<option ng-value="2" ng-selected="true">nM</option>
							</select>
						</div>
							<!-- k. Association Time Units -->
						<div id="default_unit" class="col-md-6 unit-panel gloss-contrast2">seconds</div>
					</div><br>
						<!-- ix. Panel: generated system info -->
					<div class="panel-heading">ABOUT CURRENT SYSTEM</div>
					<div id="sys_info" class="panel-body">
							<!-- a. System ID -->
						<div class="box-left">System ID</div>
						<div class="box-right"><u>{{view.system.uniqueID}}</u></div>
							<!-- b. Ligand Molecular Weight -->
						<div class="box-left">Ligand Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right"><u>{{view.system.mwL | mwFilter}}</u></div>
							<!-- c. Receptor Molecular Weight -->
						<div class="box-left">Receptor Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right"><u>{{view.system.mwR | mwFilter}}</u></div>
							<!-- d. Values for Debugging>
						<div class="box-left debug">Kd / uM</div>
						<div class="box-right debug">{{(view.system.Kd | uM_Filter | number: 2) * 1}}</div><br>
						<div class="box-left debug">k<sub>on</sub> / s<sup>-1</sup></div>
						<div class="box-right debug">{{view.system.kOn}}</div><br>
						<div class="box-left debug">k<sub>off</sub> / M<sup>-1</sup>s<sup>-1</sup></div>
						<div class="box-right debug">{{view.system.kOff}}</div><br>
						<div class="box-left debug">Completed steps count</div>
						<div class="box-right debug">{{view.finishedStepsCount[view.finishedStepsCount.length-1]}}</div><br>
						<div class="box-left debug">Minimum time on</div>
						<div class="box-right debug"><u>{{view.system.min_timeOn}}</u></div><br>
						<div class="box-left debug">Minimum time off</div>
						<div class="box-right debug"><u>{{view.system.min_timeOff}}</u></div><br-->
					</div>
				</div>
			</div><br>

			<!-- 3. Credit Box -->
			<div id="oxonHeaderFooter" class="row credit-box">
					<!-- a. Logo -->
				<div id="credit-left" class="col-md-2">
					<a href="http://www.ox.ac.uk/"><img src="images/ox-uni-logo.png" id="ox-logo"></a>
				</div>
					<!-- b. credit & buttons -->
				<div id="credit-box" class="col-md-10">
					<div id="credit-buttons">
							<!-- i. replay -->
						<button id="replay_button" class="button actions" data-toggle="modal" data-target="#replay_modal">PLAY AGAIN</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- ii. email to others -->
						<a href="mailto:?subject=Oxford Biochemistry: SPR Simulation Challenge&body=https://learntech.imsu.ox.ac.uk/SPR/" class="action-link"><button id="email_button" class="button actions">CHALLENGE FRIENDS</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- iii. facebook share -->
						<a target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?sdk=joey&u=https%3A%2F%2Flearntech.imsu.ox.ac.uk%2FSPR%2F&display=popup&ref=plugin&src=share_button','title','width=500,height=300')" class="action-link">
						<button id="facebook_button" class="button actions" data-href="https://learntech.imsu.ox.ac.uk/SPR/" data-layout="link">SHARE</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- iv. feedback in survey monkey -->
						<a href="" class="action-link"><button id="survey_button" class="button actions">SURVEY</button></a>
					</div>
					<div id="credit-text">
						OxSPR is still currently a <font color="red">prototype</font>. If you find it useful, please support the project development by providing feedback and share it to anyone you think might be helpful.
						<br><br>
						Developed for <a href="http://www.bioch.ox.ac.uk/" class="blue-link">Department of Biochemistry</a>, <a href="http://www.ox.ac.uk/" class="blue-link">University of Oxford</a> undergraduate course by <a href="mailto:chaiyakorn.srisakvarakul@oriel.ox.ac.uk" class="blue-link">Chaiyakorn Srisakvarakul</a>, under supervision by <a href="http://www.bioch.ox.ac.uk/aspsite/index.asp?pageid=580" class="blue-link">Dr. David Harris</a>, <a href="http://www.medsci.ox.ac.uk/support-services/damion-young" class="blue-link">Dr. Damion Young</a> and <a href="http://www.medsci.ox.ac.uk/support-services/jon-mason" class="blue-link">Jon Mason</a>.
						<br>
						The MIT License (MIT) Copyright &#xa9; 2016 Chaiyakorn Srisakvarakul
					</div>
				</div>					
			</div>
				<!-- 4. Modals -->
					<!-- a. 1st Objective -->
			<div id="firstObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 1: Remove background</h4>
						</div>
						<div class="modal-body">
							Before performing experiment to obtain data, you must measure the background resonance (START <u>free ligand concentration</u> = 0) and remove it from subsequent experimental results (<u>BACKGROUND</u>).<br><br>
							In a real world experiment, artefacts from background such as baseline drift could occur which would cause an increase in resonance over time. Thus the <u>association time</u> you run to remove background must cover the longest <u>association time</u> you would be using in the whole experiment to subtract all baseline drift. However, for this simulation, you can assume there is no baseline drift and input any <u>association time</u> you like.
						</div>
					</div>
				</div>
			</div>
					<!-- b. 2nd Objective -->
			<div id="secondObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 2: Find appropriate association time length</h4>
						</div>
						<div class="modal-body">
							You must know how long you need to run the association experiment for until equilibrium binding between ligand-receptor is reached. This is because only at equilibrium binding will the <u>max RU</u> obtained be valid for plotting in Langmuir Isotherm. This equilibrium binding state is characterised by a plateau in <u>SENSORGRAM</u> obtained by running the experiment with sufficiently long <u>association time</u><br><br>
							We know theoretically that the lower the <u>free ligand concentration</u>, a higher <u>association time</u> is needed to reach equilibrium due to lower chance of effective collision. We also know that in Biochemistry, Kd range could be as low as nM level for very strong binding. Therefore, we should first attempt to find the <u>association time</u> require to reach equilibrium at nM <u>free ligand concentration</u> since this length would cover for all higher <u>free ligand concentration</u>.<br><br>
							A good strategy to find out the sufficient <u>association time</u> until plateau would be to try with a low seed value such as 1 second and estimate from the projection, assuming that the curve is a hyperbola model, how long it would take to reach plateau. If the curve is still too steep, try increasing by a magnitude of 10 to see sufficient effect.<br><br>
							Ultimately, you will know that you have reached equilibrium by quantitatively sampling 2 consecutive points on the same curve (hover over the curve for coordinates) and observe that the <u>resonance</u> value does not change.
						</div>
					</div>
				</div>
			</div>
					<!-- c. 3rd Objective -->
			<div id="thirdObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 3: Seeding free ligand concentration values</h4>
						</div>
						<div class="modal-body">
							The purpose of plotting Langmuir Isotherm is to find out the resonance value for maximum binding at equilibrium and from the curve, derive the <u>free ligand concentration</u> which gives the half maximal binding resonance value which is the Kd. We use SPR to find the resonance values at equilibrium and its corresponding <u>free ligand concentration</u> for plotting in Langmuir Isotherm. We have previously determined the minimum <u>association time</u> require for the binding to reach equilibrium and will use this length to run subsequent experiments for <u>max RU</u> measured to be valid. However, we still have to find out the <u>free ligand concentration</u> range to input such the points obtained are sufficiently scattered for plotting an accurate Langmuir Isotherm.<br><br> 
							Our theoretical knowledge about ligand-receptor pair give us the context that Kd usually lies between mM to nM range for weak to strong binding respectively. Thus, given an unknown system, a suitable strategy would be to seed values broadly between these range, such as 1 nM, 1 uM and 1 mM.<br><br>
							The result will tell us roughly where the dynamic range lies by observing the position of the 1 uM curve. The dynamic range is when a change in <u>free ligand concentration</u> still result in change in <u>max RU</u> measured at equilibrium binding as it has not yet reached the maximum binding at equilibrium on Langmuir Isotherm curve. If the 1 uM curve <u>max RU</u> is closer to the 1 mM curve <u>max RU</u>, it is likely that the <u>max RU</u> at equilibrium of 1 mM curve has reached the maximum binding at equilibrium on Langmuir Isotherm. This mean that you should sample for more coordinates between the 1 uM and the 1 nM curve. Otherwise try running another curve at higher magnitude than 1 mM to confirm if the maximum binding at equilibrium on Langmuir Isotherm has been reached. At the end, you want to generate at least 6 points in the dynamic range of Langmuir Isotherm with reasonable spacing of <u>max RU</u> at equilibrium binding value so you could plot easily.
						</div>
					</div>
				</div>
			</div>
					<!-- d. 4th Objective -->
			<div id="forthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 4: Calculate k<sub>off</sub></h4>
						</div>
						<div class="modal-body">
							We must also find the k<sub>off</sub> from the experiment for calculating k<sub>on</sub> later. In this simulation, we can assume that the disassociation is a first order model, thus from the disassociation curve generated after clicking <u>WASH</u>, we can take a coordinate and use it to calculate the disassociation constant with the first order decay equation.<br><br>
							A good practice would be to sample points at even spacing on a disassociation curve to use for determining k<sub>off</sub>, such as from the 1st and 2nd half-life.
						</div>
					</div>
				</div>
			</div>
					<!-- e. 5th Objective -->
			<div id="fifthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 5: Perform sufficient replicates</h4>
						</div>
						<div class="modal-body">
							With 6 coordinates that are evenly spaced for <u>max RU</u> at equilibrium binding and its corresponding <u>free ligand concentration</u>, perform at least 3 replicates per point such that you have a total of 6x3 = 18 coordinates. Replicates allow us to see which points are outliers and should be discarded.<br><br>
							In addition, although theoretically k<sub>off</sub> should be same, as a good practice you should also calculate the k<sub>off</sub> value from the graphs generated at different <u>free ligand concentration</u> to check for errors.
						</div>
					</div>
				</div>
			</div>
					<!-- f. 6th Objective -->
			<div id="sixthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 6: Obtain standard deviation</h4>
						</div>
						<div class="modal-body">
							Next we have to find the standard deviation of the SPR technique. To achieve 95% confidence, 6 duplicates must be perform on a single set of <u>free ligand concentration</u> and <u>association time</u> combination. Be sure not to perform this after 17.00 since a higher proportion of the standard deviation then will be due to human error rather than the technique alone.<br><br>
							Note that you should obtain the standard deviation for both the association experiment (<u>max RU</u> at equilibrium binding) and disassociation experiment (k<sub>off</sub>) to allow you to calculate the standard deviation for k<sub>on</sub> later.
						</div>
					</div>
				</div>
			</div>
					<!-- g. 7th Objective -->
			<div id="seventhObjective_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Objective 7: Calculate Kd, k<sub>off</sub>, k<sub>on</sub> and standard deviation</h4>
						</div>
						<div class="modal-body">
							Finally, export the data into excel. Plot the Langmuir Isotherm by hand or use the curve fitting function on excel with hyperbola shaped curve. There should be at least 6x3=18 plots on there. From the curve, you can derive what the RU value for maximum binding at equilibrium is by observing where the curve plateau. This will allow you to find the Kd as the <u>free ligand concentration</u> at half maximal binding at equilibrium. Use this Kd value and k<sub>off</sub> value obtained to calculate k<sub>on</sub> and its standard deviation.
						</div>
					</div>
				</div>
			</div>
				<!-- Modal: Prompt confirm restart -->
			<div id="restart_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Confirm Restart</h4>
						</div>
						<div class="modal-body">
							Are you sure you wish to restart your experiment? The same pair of ligand-receptor will be retain but all data in the table previously generated will be clear.
							<br><br>
							If you wish to keep the data before restart, export it as excel by clicking on the menu button at the top-right corner of results table header.
							<br><br>
							<div id="center_buttons">
								<button type="button" class="modal-button clickable1" ng-click="view.restart()"  data-dismiss="modal">Confirm</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Modal: Prompt confirm play again -->
			<div id="replay_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Confirm Replay</h4>
						</div>
						<div class="modal-body">
							Are you sure you wish to replay? A new pair of ligand-receptor will be generated and all data in the table previously generated will be clear.
							<br><br>
							If you wish to keep the data before restart, export it as excel by clicking on the menu button at the top-right corner of results table header.
							<br><br>
							<div id="center_buttons">
								<button type="button" class="modal-button clickable1" ng-click="view.replay()"  data-dismiss="modal" data-toggle="modal" data-target="#initialising_modal">Confirm</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Modal: Initialising -->
			<div id="initialising_modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalLabel">Welcome to OxSPR!</h4>
						</div>
						<div class="modal-body">
							<div id="center_buttons">
								Are you a new or returning user?
								<br><br>
								<button type="button" class="modal-button clickable1" ng-click="view.new_user()"  data-dismiss="modal">New</button>&nbsp;&nbsp;&nbsp;
								<button type="button" class="modal-button clickable1" ng-click="view.returning_user()"  data-dismiss="modal">Returning</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Start the page by loading the initialising modal -->
			<script type="text/javascript">$(window).load(function(){$('#initialising_modal').modal('show');});</script>
		</div>   
	</body>

</html>