	<!-- Main View: generate all content for display -->
<!DOCTYPE html>
<html lang="en" ng-app='SPR'>

	<head>
			<!-- Compatibility & view issues -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	    <title>OxSPR: Simulation Challenge</title>

	    	<!-- Angular Libraries -->
		<script type="text/javascript" src="libraries/angular/angular.min.js"></script>
		<script type="text/javascript" src="libraries/angular/angular-cookies.min.js"></script>

			<!-- jQuery Libraries, load before Bootstrap & Flot since they requires it -->
		<script type="text/javascript" src="libraries/jquery/jquery-1.11.3.min.js"></script>

			<!-- Bootstrap Libraries -->
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap-theme.min.css">

			<!-- Angular Flot Chart Libraries -->
		<script type="text/javascript" src="libraries/flot/jquery.flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/angular-flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/jquery.flot.axislabels.js"></script>
		<script type="text/javascript" src="scripts/services/chart-config.js"></script>

	    	<!-- Ui-grid Libraries -->
	    <link rel="stylesheet" href="libraries/ui-grid/ui-grid.min.css">
	    <script type="text/javascript" src="libraries/ui-grid/ui-grid.min.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/exporter.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/selection.js"></script>    
		<script type="text/javascript" src="scripts/services/table-config.js"></script>

			<!-- Google Fonts Web Font Embedding -->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:700'>
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:300,500' rel='stylesheet' type='text/css'>

	    	<!-- Personal libraries, load last since these files will be referencing to those previous libraries too -->
		<script type="text/javascript" src="scripts/index_model.js"></script>
		<script type="text/javascript" src="scripts/services/system_model.js"></script>
		<script type="text/javascript" src="scripts/services/experiment_status.js"></script>
		<script type="text/javascript" src="scripts/services/output_model.js"></script>
		<script type="text/javascript" src="scripts/filters/time_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/mw_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/uM_filter.js"></script>
		<script type="text/javascript" src="scripts/index_controller.js"></script>
		<link rel="stylesheet" href="styles/main.css">

	</head>

	<body ng-controller="viewCtrl as view">
			<!-- Distinguishing content for small device size media query -->
		<div class="smallDevice">
			<h1 class="smallDevice-heading">Oh Snap!</h1><br>
			<h4 class="smallDevice-message">We know you are excited to play with the simulation</h4>
			<h4 class="smallDevice-message">However, for the best playing experience</h4>
			<h4 class="smallDevice-message">we would suggest switching to a device with larger screen size <br><font color="red">(at least an iPad viewing in landscape)</font></h4>
			<h4 class="smallDevice-message">See you there! :)</h4>
		</div>

			<!-- Distinguishing content for large device size media query --> 
		<div class="largeDevice">	
				<!-- 1. Navigation Bar  -->
			<nav id="navbar-font" class="navbar navbar-fixed-top navbar-custom">
				<div class="navbar-menu">
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="Overview of the web application">HOME</a>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="List of learning objectives to achieve and philosophy of the project">OBJECTIVES</a>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="Theory on surface plasmon resonance technique">SPR</a>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="Theory on effective experimental design strategy">EXPERIMENT DESIGN</a>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="Theory on how to crtique experimental results critically">CRITIQUE</a>
					<div class="navbar-text navbar-clicked" data-toggle="tooltip" title="Simulation of surface plasmon resonance for mastering experimental design">SIMULATION</div>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="Summary of all learning points">SUMMARY</a>
					<a href="http://www.google.com" class="navbar-text navbar-link" data-toggle="tooltip" title="About the developer">CONTACT</a>
				</div>
			</nav>

				<!-- 2. Main controller box -->
			<div id="controller-box" class="container-fluid">
				<div id="guide-mastery-box" class="container-fluid col-md-3">
						<!-- i. Panel: high score display (mastery mode only) -->
					<div class="panel-heading">BEAT THE BEST SCORE!</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Lowest Number of Steps Taken -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Average Steps</div>
							<div class="tracked-value">32</div>
						</div>
							<!-- b. Average Steps -->
						<div class="col-md-6 track-panel">
							<div>Lowest Steps</div>
							<div class="tracked-value">18</div>
						</div>
					</div>
					<br>
						<!-- ii. Panel: guiding objectives (guide mode only) -->
					<div class="panel-heading">GUIDING OBJECTIVES</div>
					<div class="panel-body clickable-box">
							<!-- a. Button: guide vs mastery mode selector -->
						<div class="mode-selection">
							<button class="button clickable1 col-md-6" ng-click="view.guideMode = true" ng-disabled="view.guideMode == true" data-toggle="tooltip" title="Guiding objectives and extra hints from Console enable">ON</button>
							<button class="button clickable2 col-md-6" ng-click="view.guideMode = false" ng-disabled="view.guideMode == false" data-toggle="tooltip" title="Guiding objectives and extra hints from Console disabled">OFF</button><br><br>
						</div>
							<!-- b. Button: select objectvies -->
						<div class="select-objectives-box col-md-12" ng-show="view.guideMode == true">
								<!-- 1. Button: "1" -->
							<button class="button select-objectives {{view.objectives_number_style1}}" ng-click="view.toggle_switchOne()" data-toggle="tooltip" title="Show/hide 1st objective">1</button>
								<!-- 2. Button: "2" -->
							<button class="button select-objectives {{view.objectives_number_style2}}" ng-click="view.toggle_switchTwo()" data-toggle="tooltip" title="Show/hide 2nd objective">2</button>
								<!-- 1. Button: "3" -->
							<button class="button select-objectives {{view.objectives_number_style3}}" ng-click="view.toggle_switchThree()" data-toggle="tooltip" title="Show/hide 3rd objective">3</button>
								<!-- 2. Button: "4" -->
							<button class="button select-objectives {{view.objectives_number_style4}}" ng-click="view.toggle_switchFour()" data-toggle="tooltip" title="Show/hide 4th objective">4</button>
								<!-- 1. Button: "5" -->
							<button class="button select-objectives {{view.objectives_number_style5}}" ng-click="view.toggle_switchFive()" data-toggle="tooltip" title="Show/hide 5th objective">5</button>
								<!-- 2. Button: "6" -->
							<button class="button select-objectives {{view.objectives_number_style6}}" ng-click="view.toggle_switchSix()" data-toggle="tooltip" title="Show/hide 6th objective">6</button>
								<!-- 1. Button: "7" -->
							<button class="button select-objectives {{view.objectives_number_style7}}" ng-click="view.toggle_switchSeven()" data-toggle="tooltip" title="Show/hide 7th objective">7</button>
						</div>

						<div class="guide-objectives" ng-show="view.guideMode == true">
								<!-- a. 1st Objective -->
							<div class="guide gloss-contrast" ng-show="view.guide_one == true">1 - Find the <u>free ligand concentration</u> that <u>max RU reached</u> starts to plateau</div>
								<!-- b. 2nd Objective -->
							<div class="guide" ng-show="view.guide_two == true">2 - Generate <u>max RU reached</u> value at  low <u>free ligand concentration</u></div>
								<!-- c. 3rd Objective -->
							<div class="guide gloss-contrast" ng-show="view.guide_three == true">3 - For a single data set, repeat 6 times  to allow calculation of standard  deviation</div>
								<!-- d. 4th Objective -->
							<div class="guide" ng-show="view.guide_four == true">4 - Produce a Langmuir plot of <u>max RU  reached</u> against <u>free ligand  concentration</u></div>
								<!-- e. 5th Objective -->
							<div class="guide gloss-contrast" ng-show="view.guide_five == true">5 - Derive Kd from Langmuir plot being the  <u>free ligand concentration</u> at half  maximum <u>max RU reached</u></div>
								<!-- f. 6th Objective -->
							<div class="guide" ng-show="view.guide_six == true">6 - From the sensorgram disassociation curve, calculate k<sub>off</sub> using the first order disassociation rate equation</div>
								<!-- g. 7th Objective -->
							<div id="guide-bottom" class="guide gloss-contrast" ng-show="view.guide_seven == true">7 - Using Kd and k<sub>off</sub> calculated, derive  k<sub>on</sub></div>
						</div>
					</div>
					<br>
						<!-- iii. Panel: check answer -->
					<div class="panel-heading">CHECK ANSWER</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Form: check Kd -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Kd / M</div>
							<form novalidate name="check_Kd">
								<input class="form check-form" name="Kd_input" type="number" ng-model="input_check_Kd" placeholder="1" required>
							</form>
						</div>
							<!-- b. Form: check kOn -->
						<div class="col-md-4 track-panel">
							<div>k<sub>on</sub> / s<sup>-1</sup></div>
							<form novalidate name="check_kOn">
								<input class="form check-form" name="kOn_input" type="number" ng-model="input_check_kOn" placeholder="1" required>
							</form>
						</div>
							<!-- c. Form: check kOff -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>k<sub>off</sub> / M<sup>-1</sup>s<sup>-1</sup></div>
							<form novalidate name="check_kOff" >
								<input class="form check-form" name="kOff_input" type="number" ng-model="input_check_kOff" placeholder="1" required>
							</form>
						</div>
							<!-- d. Button: submit -->
						<div id="check-btn-container" class="col-md-12">
							<button id="check_submit" class="button clickable1" ng-click="view.check(input_check_Kd, input_check_kOn, input_check_kOff)" ng-disabled="check_Kd.Kd_input.$invalid || check_kOn.kOn_input.$invalid || check_kOff.kOff_input.$invalid"data-toggle="tooltip" title="Check your answer">CHECK</button>
						</div>
					</div>
				</div>

				<div id="output-box" class="container-fluid col-md-6">
						<!-- iv. Panel: sensorgram output graph (angular flot chart) -->
					<div class="panel-heading">SENSORGRAM</div>
					<div id="sensorgram">
						<flot id="flot" dataset="view.chart.dataset" options="view.chart.options"></flot>
					</div><br>

						<!-- v. Console -->
					<div id="console" class="panel-body">
							<!-- a. Prompt: initialisation -->
						<div ng-show="view.experiment.steps == 0 && fLC_Form.fLC.$pristine && timeOn_Form.timeOn.$pristine">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Welcome to the simulation challenge!]</font><br>
							I will be guiding you with tips to help you get up to speed with the experiment : )<br>
							Please note that you can check your results once you have obtained suitable values for Kd, k<sub>on</sub> and k<sub>off</sub> in the <u>Check Answer</u> panel found below by scrolling.<br>
							In addition, the sensorgram can display a maximum of 10 curves so please take screenshots regularly.<br>
						</div>
							<!-- b. Prompt: after having lunch -->
						<div ng-show="view.experiment.timeOfDay == 13.5">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Auto-logging: Break for lunch]</font><br>
							12.00-13.00: Had lunch at Biochemistry Cafe with friends<br>
							13.00-13.30: Began new experiment after the lunch<br>
						</div>
							<!-- c. Prompt: before having dinner -->
						<div ng-show="view.experiment.timeOfDay == 17.0">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[End of official working hour]</font><br>
							You are getting tired and the Biochemistry Department is closing.<br>
							It is best that you <u>go home</u> and continue your experiment tomorrow<br>
							<font color="red">*note: any experiment performed after this time onwards will have a higher chance of getting poor standard deviation</font>
						</div>
							<!-- d. Prompt: after having dinner -->
						<div ng-show="view.experiment.timeOfDay == 18.5">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Auto-logging: Break for dinner]</font><br>
							17.00-18.00: Had dinner at The Eagle & Child with friends<br>
							18.00-18.30: Began new experiment after the dinner<br>
						</div>
							<!-- e. Prompt: before having supper -->
						<div ng-show="view.experiment.timeOfDay == 21.0">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Risk notice]</font><br>
							You are beginning to feel sleepy and lose concentration.<br>
							It is best that you <u>go home</u> and continue your experiment tomorrow<br>
							<font color="red">*note: any experiment performed after this time onwards will have a higher chance of getting unacceptable standard deviation</font>
						</div>
							<!-- f. Prompt: after having supper -->
						<div ng-show="view.experiment.timeOfDay == 22.5">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Auto-logging: Break for supper]</font><br>
							21.00-22.00: Had mars bars alone in the lab. . . poor you.<br>
							22.00-22.30: Began new experiment after the supper<br>
						</div>
							<!-- g. Prompt: end of day -->
						<div ng-show="view.experiment.timeOfDay == 24.0">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Security guard warning]</font><br>
							The security guard is closing the Biochemistry building now.<br>
							I highly commend you for your endeavor today but unfortunately you will have to head home.<br>
						</div>
							<!-- h. Prompt: return home -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[End of a day @ {{view.experiment.endOfExperimentTime | timeFilter}}]</font><br>
							Initialising automatic lab clean-up. . . Clean-up completed.<br>
							See you tomorrow!<br>
						</div>
							<!-- i. Prompt: start of day auto-setup -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && fLC_Form.fLC.$pristine && timeOn_Form.timeOn.$pristine || view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Start of a new day @ 9.00]</font><br>
							Experiment automatically setup. . . Setup completed @ 9.30.<br>
							Ready to start, input value into the <u>Control</u> to begin.<br>
						</div>
							<!-- j. Prompt: clear background -->
						<div ng-show="view.isDisabled_background == false && fLC_Form.fLC.$dirty && view.guideMode == true">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Tip: clear background prior to performing an experiment]</font><br>
							You should begin the experiment by setting the value of background reading before trying any other <u>free ligand concentration</u>. You can do this by:<br>
							(1) running <u>free ligand concentration</u> = 0 and <u>wash-up</u><br>
							(2) then <u>clear background</u><br>
							<font color="red">*Note: Any previously generated sensorgram plot will be clear once a new background had been set.</font><br>
						</div>
							<!-- k. Prompt: clear background successs -->
						<div ng-show="view.backgroundSet !== 0 && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] == 0">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Success: clear background]</font><br>
							Background had been set at {{view.backgroundSet}} {{view.backgroundUnitsSet}}.<br>
						</div>
							<!-- l. Prompt: RU on result is invalid -->
						<div ng-show="view.output.fLC.length !== 0 && !(0.99*view.output.RU_On_Max[view.output.RU_On_Max.length-1] < view.output.RU_On_Output[view.output.RU_On_Output.length-1]) && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.guideMode == true">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Tip: resulting peak RU value is invalid]</font><br>
							The <u>peak RU value</u> for this input <u>free ligand concentration</u> have not achieve the maximum possible value yet before washing off. This mean that the peak RU value for this data set is <font color="red">invalid and cannot be use for plotting in Langmuir Isotherm</font>. Please increase the input <u>association time</u> duration until you observe that the graph achieve a plateau. Also, do note down the trial number of this dataset so you will not use it in plotting.<br>
						</div>
							<!-- m. Prompt: Low concentration suffer from high absolute error % -->
						<div ng-show="view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] < 0.00000001 && view.output.fLC_tableDisplay.length > 0 && view.guideMode == true">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Tip: Be careful of working with low concentration]</font><br>
							Using a low concentration will result in the percentage of absolute error relative to the input concentration being high. Therefore be wary of data obtained using very low concentration. Try not to use them unless necessary.<br>
						</div>
							<!-- l. Prompt: invalid free ligand conc. -->
						<div ng-show="fLC_Form.fLC.$dirty && fLC_Form.fLC.$invalid">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Invalid free ligand conc. input]</font><br>
							I'm sorry but <u>free ligand conc.</u> input can only intake an integral number equal or above {{view.output.minimum_fLC_input}}.<br>
						</div>
							<!-- m. Prompt: invalid time on -->
						<div ng-show="timeOn_Form.timeOn.$dirty && timeOn_Form.timeOn.$invalid">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Invalid association time input]</font><br>
							I'm sorry but <u>association time</u> input can only intake an integral number between 1 and 900.<br>
						</div>
							<!-- n. Prompt: maximum number of curve on graph reached -->
						<div ng-show="view.output.RU_CompiledLabelPlotAll.length == 20">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Maximum no. of plot on sensorgram reached]</font><br>
							There are too many plots on sensorgram to interpret it productively anyway! Please <u>clear chart</u> before you continue. Do not worry, the data on your results table will not be cleared.<br>
						</div>
							<!-- o. Prompt: Answer is correct -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true || view.kOn_correct == true || view.kOff_correct == true)">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Correct answers]</font><br>
								<p class="declare-result" ng-show="view.Kd_correct == true">Your Kd value is correct!</p>
								<p class="declare-result" ng-show="view.kOn_correct == true">Your k<sub>on</sub> value is correct!</p>
								<p class="declare-result" ng-show="view.kOff_correct == true">Your k<sub>off</sub> value is correct!</p>
						</div>
							<!-- p. Prompt: Answer is wrong -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == false || view.kOn_correct == false || view.kOff_correct == false)">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Wrong answers]</font><br>
								<p class="declare-result" ng-show="view.Kd_correct == false">Your Kd value is wrong!</p>
								<p class="declare-result" ng-show="view.kOn_correct == false">Your k<sub>on</sub> value is wrong!</p>
								<p class="declare-result" ng-show="view.kOff_correct == false">Your k<sub>off</sub> value is wrong!</p>
						</div>
							<!-- q. Prompt: All answer is correct! -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true && view.kOn_correct == true && view.kOff_correct == true)">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[All answer is correct!]</font><br>
							Well done! You have achieved all correct answers and finish the simulation! Thanks for playing :)<br>
							Please scroll below and click <u>summary</u> to view all learning objectives you have accomplished.
							<font color="red">*Note: Please export your data before you exit. You can find the function to export at the red menu button in the results table.</font><br>
						</div>

							<!-- r. Prompt: session over -->
						<div ng-show="view.experiment.daysLeft == 0 && view.experiment.timeOfDay == view.experiment.endOfDay">
							<font color="#a6a6a6">> Console:</font>&nbsp;
							<font color="#a6a6a6">[Experiment Ended]</font><br>
							Boooo! You ran out of time to finish experiment. Click <u>restart</u> to try again without changing the system.<br>
						</div>
					</div><br>

						<!-- vi. Panel: results table (ui-grid) -->
					<div class="panel-heading">RESULTS TABLE</div>
					<div id="result-table">
						<div class="grid" ui-grid="view.table.options" ui-grid-selection ui-grid-exporter ui-grid-auto-resize></div>
					</div><br>

						<!-- viii. Button: finish -->
					<div id="finish-box" class="col-md-12">
						<a href="https://www.google.com" class="finish-btn">
							<button class="button" ng-click"view.summary()" ng-disabled="view.all_Correct == false" data-toggle="tooltip" title="Summary of all learning points">SUMMARY</button>
						</a>
					</div>	
				</div>
				
				<div id="status-system-box" class="container-fluid col-md-3">
						<!-- viii. Panel: experiment status-->
					<div class="panel-heading">YOUR EXPERIMENT STATUS</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Your Days Left -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Days Left</div>
							<div class="tracked-value">{{view.experiment.daysLeft}}</div>
						</div>
							<!-- b. Your Time -->
						<div class="col-md-4 track-panel">
							<div>Time</div>
							<div class="tracked-value">{{view.experiment.timeOfDay | timeFilter}}</div>
						</div>
							<!-- c. Your Steps Taken -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Steps</div>
							<div class="tracked-value">{{view.experiment.steps}}</div>
						</div>
					</div><br>

						<!-- ix. Panel: controls -->
					<div class="panel-heading">CONTROLS</div>
					<div class="panel-body clickable-box">
								<!-- a) "Start" button -->
						<div class="box-left-btn">
							<button type="button" class="button clickable1 col-md-12" ng-click="view.runExperiment(magnitudeSelected, input_fLC, input_timeOn)" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_run == true || view.experiment.timeOfDay == view.experiment.endOfDay || view.output.RU_CompiledLabelPlotAll.length == 20" data-toggle="tooltip" title="Start the ligand-receptor association phase of experiment. Require: User input on both the free ligand concentration and association time in the input box">START</button> 
								<!-- note: set to 20 since on and off graph counted as a separate ones -->
						</div>
							<!-- b) "Washing up" button -->
						<div class="box-right-btn">
							<button class="button clickable2 col-md-12" ng-click="view.washUp(input_timeOn)" ng-disabled="view.isDisabled_wash == true" data-toggle="tooltip" title="Begin the ligand-receptor disassociation phase of experiment. All ligand must be washed off receptor to prevent carry over to the next experimental round. This would result in an underestimated value of free ligand concentration and association time require to reach the maximum peak RU value. Require: initiated start button">WASH</button>
						</div>
							<!-- c) "Clear background value" button -->
						<div class="box-left-btn">
							<button class="button clickable2 col-md-12" ng-click="view.set_background()" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_background == true || view.isDisabled_run == true || view.output.RU_On_Output.length == 0 || view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0" data-toggle="tooltip" title="Measure the reading provide by receptor alone to subtract it from the output, such that the graph will began at zero. This is to allow us to focus on only the change in resonance observed by ligand binding. Require: start at free ligand concentration = 0">BACKGROUND</button>
						</div>
							<!-- d) "Go home" button -->
						<div class="box-right-btn">
							<button class="button clickable1 col-md-12" ng-click="view.goHome()" ng-disabled="view.experiment.timeOfDay == view.experiment.startOfDay || view.experiment.daysLeft == 0" data-toggle="tooltip" title="Stop conducting any more experiment today and skip to continue experiment tomorow. Require: running at least a single experiment during the day">HOME</button>
						</div>
							<!-- e) "Clear chart" button -->
						<div class="box-left-btn">
							<button class="button clickable1 col-md-12" ng-click="view.clearChart()" ng-disabled="view.output.RU_CompiledLabelPlotAll.length == 0" data-toggle="tooltip" title="Clearing all graphical plot without erasing any data created and stored on the table. Require: running at least a single experiment during the day">CLEAR</button>
						</div>
							<!-- f) "Restart" button -->
						<div class="box-right-btn">
							<button class="button clickable2 col-md-12" ng-click="view.restart()" ng-disabled="view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysLeft == view.experiment.daysAllowed" data-toggle="tooltip" title="Clear all data on experiment previously created but retain the same ligand and receptor. Require: running at least a single experiment during the day">RESTART</button>
						</div><br><br>
							<!-- g. Radio: Selecting for free ligand concentration units -->
						<form class="conc-radio" ng-init="magnitudeSelected = 2" data-toggle="tooltip" title="Change the unit of free ligand concentration input">
							<div class="col-md-4 radio-btn">
								<input type="radio" ng-model="magnitudeSelected" ng-value="0" ng-disabled="view.output.magnitudeAdjust == 1000">&nbsp; mM
							</div>
							<div class="col-md-4 radio-btn">
								<input type="radio" ng-model="magnitudeSelected" ng-value="1" ng-disabled="view.output.magnitudeAdjust == 1000000">&nbsp; uM
							</div>
							<div class="col-md-4 radio-btn">
								<input type="radio" ng-model="magnitudeSelected" ng-value="2" ng-disabled="view.output.magnitudeAdjust == 1000000000">&nbsp; nM
							</div>
						</form><br><br>

							<!-- h. Free Ligand Concentration Input -->
						<div class="box-left">Free Ligand Concentration</div>
						<div class="box-right">
							<form novalidate name="fLC_Form">
								<input class="form input-form" name="fLC" type="number" step="1" min="{{view.output.minimum_fLC_input}}" placeholder="1" ng-model="input_fLC" required>
							</form>
						</div>
							<!-- i. Association Time Input -->
						<div class="box-left">Association Time/s</div>
						<div class="box-right">
							<form novalidate name="timeOn_Form">
								<input class="form input-form" name="timeOn" type="number" step="1" min="1" max="900" placeholder="1" ng-model="input_timeOn" required>
							</form>
						</div>					
					</div><br>

						<!-- x. Panel: generated system info -->
					<div class="panel-heading">ABOUT CURRENT SYSTEM</div>
					<div class="panel-body">
							<!-- a. System ID -->
						<div class="box-left">System ID</div>
						<div class="box-right">{{view.system.uniqueID}}</div>
							<!-- b. Ligand Molecular Weight -->
						<div class="box-left">Ligand Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right">{{view.system.mwL | mwFilter}}</div>
							<!-- c. Receptor Molecular Weight -->
						<div class="box-left">Receptor Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right">{{view.system.mwR | mwFilter}}</div>
							<!-- d. Values for Debugging-->
						<div class="box-left debug">Kd / uM</div>
						<div class="box-right debug">{{view.system.Kd | uM_Filter}}</div><br>
						<div class="box-left debug">k<sub>on</sub> / s<sup>-1</sup></div>
						<div class="box-right debug">{{view.system.kOn}}</div><br>
						<div class="box-left debug">k<sub>off</sub> / M<sup>-1</sup>s<sup>-1</sup></div>
						<div class="box-right debug">{{view.system.kOff}}</div><br>
						<div class="box-left debug">Completed steps count</div>
						<div class="box-right debug">{{view.finishedStepsCount[view.finishedStepsCount.length-1]}}</div><br>
					</div>
				</div>
			</div><br>

			<!-- 3. Credit Box -->
				<div class="row credit-box">
					<div class="col-md-10">

					</div>
					<div class="col-md-2">
						<img src="images/ox-uni-logo.png" id="ox-logo">
					</div>
				</div>
		</div>   
	</body>

</html>