	<!-- Main View: generate all content for display -->
<!DOCTYPE html>
<html lang="en" ng-app='SPR' style="height: 100%">
	<head>
			<!-- Compatibility & view issues -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	    <title>Oxford Biochemistry - SPR Experimental Design Challenge</title>
	    	<!--meta property="og:url"           content="https://learntech.imsu.ox.ac.uk/SPR/" />
			<meta property="og:type"          content="website" />
			<meta property="og:title"         content="Oxford Biochemistry Simulation Challenge (SPR)" />
			<meta property="og:description"   content="Learn experimental design through playing with a simulation of surface plasmon resonance. Created by Oxford Biochemistry Department." />
			<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /-->

	    	<!-- Angular Libraries & Credits -->
		<script type="text/javascript" src="libraries/angular/angular.min.js"></script>
		<script type="text/javascript" src="libraries/angular/angular-cookies.min.js"></script>

			<!-- jQuery Libraries & Credits, load before Bootstrap & Flot since they requires it -->
		<script type="text/javascript" src="libraries/jquery/jquery-1.11.3.min.js"></script>

			<!-- Bootstrap Libraries -->
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="libraries/bootstrap/bootstrap-theme.min.css">
		<script type="text/javascript" src="libraries/bootstrap/bootstrap.min.js"></script>

			<!-- Angular Flot Chart Libraries & Credits -->
		<script type="text/javascript" src="libraries/flot/jquery.flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/angular-flot.js"></script>			
		<script type="text/javascript" src="libraries/flot/jquery.flot.tooltip.min.js"></script>
		<script type="text/javascript" src="libraries/flot/jquery.flot.axislabels.js"></script>
		<script type="text/javascript" src="libraries/flot/jquery.flot.selection.js"></script>
		<script type="text/javascript" src="scripts/services/chart-config.js"></script>

	    	<!-- Ui-grid Libraries & Credits -->
	    <link rel="stylesheet" href="libraries/ui-grid/ui-grid.min.css">
	    <script type="text/javascript" src="libraries/ui-grid/ui-grid.min.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/exporter.js"></script>
	    <script type="text/javascript" src="libraries/ui-grid/selection.js"></script>    
		<script type="text/javascript" src="scripts/services/table-config.js"></script>

			<!-- Google Fonts Web Font Embedding & Credits -->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:700'>
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:300,500' rel='stylesheet' type='text/css'>

	    	<!-- Personal libraries, load last since these files will be referencing to those previous libraries too -->
		<script type="text/javascript" src="scripts/index_modules.js"></script>
		<script type="text/javascript" src="scripts/services/system_model.js"></script>
		<script type="text/javascript" src="scripts/services/experiment_status.js"></script>
		<script type="text/javascript" src="scripts/services/output_model.js"></script>
		<script type="text/javascript" src="scripts/filters/time_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/mw_filter.js"></script>
		<script type="text/javascript" src="scripts/filters/uM_filter.js"></script>
		<script type="text/javascript" src="scripts/index_controller.js"></script>
		<link rel="stylesheet" href="styles/main.css">

					<!-- Google Analytics Tracking -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-73037710-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>

	<body ng-controller="viewCtrl as view" style="height: 100%">

		<!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

			<!-- Distinguishing content for small device size media query -->
		<div class="smallDevice">
			<h1 class="smallDevice-heading">Oh Snap!</h1><br>
			<h4 class="smallDevice-message">We know you are excited to play with the simulation</h4>
			<h4 class="smallDevice-message">However, for the best playing experience</h4>
			<h4 class="smallDevice-message">we would suggest switching to a device with larger screen size <br><font color="red">(at least an iPad viewing in landscape)</font></h4>
			<h4 class="smallDevice-message">See you there! :)</h4>
		</div>

			<!-- Distinguishing content for large device size media query --> 
		<div class="largeDevice" style="min-height: 100%; padding-bottom: 150px; position:relative;">	
				<!-- 1. Navigation Bar  -->
			<nav id="oxonHeaderFooter" class="navbar navbar-fixed-top navbar-custom">
				<div class="navbar-menu">
					<!--a href="" class="navbar-text navbar-link">HOME</a>
					<a href="" class="navbar-text navbar-link">OBJECTIVES</a>
					<a href="" class="navbar-text navbar-link">SPR</a>
					<a href="" class="navbar-text navbar-link">EXPERIMENT DESIGN</a>
					<a href="" class="navbar-text navbar-link">CRITIQUE</a>
					<div class="navbar-text navbar-clicked">SIMULATION</div>
					<a href="" class="navbar-text navbar-link">SUMMARY</a>
					<a href="" class="navbar-text navbar-link">CONTACT</a-->
					<div id="navbar-placeholder">Objective: Design a strategy to obtain Kd, k<sub>off</sub> and k<sub>on</sub> using the Optimum Steps and Efficiency Points</div>
				</div>
			</nav>
				<!-- 2. Modals -->
					<!-- a. 1st Help Text -->
				<div id="firstObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- b. 2nd Help Text -->
				<div id="secondObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- c. 3rd Help Text -->
				<div id="thirdObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- d. 4th Help Text -->
				<div id="forthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- e. 5th Help Text -->
				<div id="fifthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- f. 6th Help Text -->
				<div id="sixthObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- g. 7th Help Text -->
				<div id="seventhObjective_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
					<!-- h. Modal: Prompt confirm home -->
				<div id="home_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Confirm Home</h4>
							</div>
							<div class="modal-body">
								Please confirm if you want to finish the experiment for the day. After you click, you will have {{view.experiment.daysLeft}} full day(s) left to perform your experiment.
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" ng-click="view.goHome()"  data-dismiss="modal">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- i. Modal: Prompt confirm clear -->
				<div id="clear_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Confirm Clear</h4>
							</div>
							<div class="modal-body">
								Please confirm that you want to clear the <u>SENSORGRAM</u>. The data in the <u>RESULTS TABLE</u> will not be clear. It is advised that you take a screenshot of the <u>SENSORGRAM</u> before clearing.
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" ng-click="view.clearChart()"  data-dismiss="modal">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- j. Modal: Prompt confirm restart -->
				<div id="restart_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Confirm Restart</h4>
							</div>
							<div class="modal-body">
								Are you sure you wish to restart your experiment? The same pair of ligand-receptor will be retain but all data in the table previously generated will be clear.
								<br><br>
								If you wish to keep the data before restart, export it as excel by clicking on the menu button at the top-right corner of <u>RESULTS TABLE</u> header.
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" ng-click="view.restart()"  data-dismiss="modal">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- k. Modal: Prompt confirm play again -->
				<div id="replay_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Confirm Replay</h4>
							</div>
							<div class="modal-body">
								Are you sure you wish to replay? A new pair of ligand-receptor will be generated and all data in the table previously generated will be clear.
								<br><br>
								If you wish to keep the data before restart, export it as excel by clicking on the menu button at the top-right corner of <u>RESULTS TABLE</u> header.
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" ng-click="view.replay()" data-dismiss="modal" data-toggle="modal" data-target="#initialising_modal">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- l. Modal: Cookies Detected -->
				<div id="cookies_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel">Incomplete experiment detected</h4>
							</div>
							<div class="modal-body">
								We have detected an auto-saved incomplete experiment before you left the simulator. Do wish to continue with the auto-saved experiment or reload a new pair of ligand-receptor?
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" data-dismiss="modal">Continue</button>&nbsp;&nbsp;&nbsp;
									<button type="button" class="modal-button clickable1" ng-click="view.replay()" data-dismiss="modal" data-toggle="modal" data-target="#initialising_modal">New Pair</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- m. Modal: Initialising -->
				<div id="initialising_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel">SPR Experimental Design Game</h4>
							</div>
							<div class="modal-body">
								<b><font color="#51A7F9">Before you begin the game</font></b><br>
								This game assume that you know how to obtain Kd, k<sub>off</sub> and k<sub>on</sub> given an unknown ligand and receptor pair using the Surface Plasmon Resonance (SPR) techique. 
								<br><br>

								<b><font color="#51A7F9">Criteria to completing the challenge</font></b><br>
								+ Achieve the correct Kd, k<sub>on</sub>, k<sub>off</sub> within the days allowed<br>
								+ Using the <b>Optimum Steps</b>, excluding outliers<br>
								+ Without losing any <b>Efficiency Points</b><br><br>

								Let's begin by selecting a suitable playing mode. If you are new to experimental design strategy, <b>Training</b> mode will teach you how to beat the challenge methodically. Otherwise, you can be daring and try beating the <b>Challenge</b> straight away!
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" ng-click="view.learn_user()"  data-dismiss="modal">Training</button>&nbsp;&nbsp;&nbsp;
									<button type="button" class="modal-button clickable1" ng-click="view.mastery_user()"  data-dismiss="modal">Challenge</button>
								</div>
							</div>
						</div>
					</div>
				</div>			
					<!-- n. Modal: Introduction 1 -->
				<div id="intro1_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-cross" aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Game Mechanics</h4>
							</div>
							<div class="modal-body">
								<b><font color="#51A7F9">1. Basics</font></b><br>
								- Input desired <b>Free Ligand Concentration</b> and <b>Association Time</b><br>
								- Click <b>START</b> to begin ligand-receptor association phase<br>
								- Click <b>WASH</b> to begin ligand-receptor disassociation phase<br>
								- Click <b>BACKGROUND</b> to remove it from future readings
								<br><br>

								<b><font color="#51A7F9">2. Essential tips to completing the game</font></b><br>
								- Absolute and relative errors are built into the game.<br>
								- The probability of outputting results with high standard deviation increases after 17.00, and even further at 21.00.<br>
								- A maximum of 10 curves can be display on <b>SENSORGRAM</b> before <b>CLEAR</b> is required.<br>
								- You can drag an area on <b>SENSORGRAM</b> to zoom into it, double click to zoom out.<br>
								- Every <b>RUN</b>-<b>WASH</b> cycle uses up 30 minutes per day regardless of <b>Association Time</b> input.<br>
								- You can download your data into an Excel file by clicking the menu-button in the top-right corner of <b>RESULTS TABLE</b>.
								<br><br>

								<b><font color="#51A7F9">3. SPR assumptions</font></b><br>
								- No baseline drift in background<br>
								- Absolute error of SPR machine is +/-4 nM<br>
								- Both ligand and receptor are proteins<br>
								- Binding stoichiometry is a 1:1 interaction.<br>
								- No non-specific binding
								<br><br>
								<div id="center_buttons">
									<!--button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro2_modal">Next</button-->
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- n. Modal: Extras Introduction -->
				<!--div id="intro2_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro3_modal">Next</button>
									<button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro1_modal">Back</button>
									<button type="button" class="modal-button clickable1" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="intro3_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro4_modal">Next</button>
									<button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro2_modal">Back</button>
									<button type="button" class="modal-button clickable1" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="intro4_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" data-dismiss="modal" data-toggle="modal" data-target="#intro3_modal">Back</button>
									<button type="button" class="modal-button clickable1" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div-->
								<!-- n. Modal: Testing -->
				<div id="testing_modal" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalLabel"></h4>
							</div>
							<div class="modal-body">
								
								<br><br>
								<div id="center_buttons">
									<button type="button" class="modal-button clickable1" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 3. Main controller box -->
			<div id="controller-box" class="container-fluid">
				<div id="guide-mastery-box" class="container-fluid col-md-3">
						<!-- i. Panel: mode -->
					<div class="panel-heading">MODE</div>
					<div class="panel-body clickable-box">
							<!-- a. Button: training vs mastery mode selector -->
						<div class="mode-selection">
							<button class="button clickable1 col-md-6" ng-click="view.guideMode = true" ng-disabled="view.guideMode == true">TRAINING</button>
							<button class="button clickable2 col-md-6" ng-click="view.guideMode = false" ng-disabled="view.guideMode == false">CHALLENGE</button><br><br>
						</div>
							<!-- b. Buttons: select objectvies modal trigger -->
						<div class="select-hints-box col-md-12">
								<!-- 1. Heading -->
							<div id="hints-heading" class="col-md-12">Walk-through</div>
								<!-- 2. Button: "1" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#firstObjective_modal" ng-disabled="view.guideMode == false">1</button>
								<!-- 3. Button: "2" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#secondObjective_modal" ng-disabled="view.guideMode == false">2</button>
								<!-- 4. Button: "3" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#thirdObjective_modal" ng-disabled="view.guideMode == false">3</button>
								<!-- 5. Button: "4" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#forthObjective_modal" ng-disabled="view.guideMode == false">4</button>
								<!-- 6. Button: "5" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#fifthObjective_modal" ng-disabled="view.guideMode == false">5</button>
								<!-- 7. Button: "6" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#sixthObjective_modal" ng-disabled="view.guideMode == false">6</button>
								<!-- 8. Button: "7" -->
							<button type="button" class="button select-hints clickable1" data-toggle="modal" data-target="#seventhObjective_modal" ng-disabled="view.guideMode == false">7</button>
						</div>
					</div><br>
						<!-- ii. Panel: high score display (mastery mode only) -->
					<div ng-show="view.guideMode == false">
						<div class="panel-heading">COMPLETION SCORES</div>
						<div id="dashboard" class="panel-body">
								<!-- a. Lowest Number of Steps Taken -->
							<div class="col-md-6 track-panel gloss-contrast">
								<div>Efficiency Points</div>
								<div class="tracked-value">100</div>
							</div>
								<!-- b. Average Steps -->
							<div class="col-md-6 track-panel" data-toggle="tooltip" title="exclude accounting outliers">
								<div>Optimum Steps</div>
								<div class="tracked-value">25</div>
							</div>
						</div><br>
					</div>
						<!-- iii. Panel: check answer -->
					<div class="panel-heading">CHECK ANSWER</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Form: check Kd -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Kd</div>
							<form novalidate name="check_Kd">
								<input class="form" name="Kd_input" type="number" ng-model="input_check_Kd" placeholder="number" required>
							</form>
						</div>
							<!-- b. Form: check kOn -->
						<div class="col-md-4 track-panel">
							<div>k<sub>on</sub></div>
							<form novalidate name="check_kOn">
								<input class="form" name="kOn_input" type="number" ng-model="input_check_kOn" placeholder="number" required>
							</form>
						</div>
							<!-- c. Form: check kOff -->
						<div class="col-md-4 track-panel gloss-contrast">
							<div>k<sub>off</sub></div>
							<form novalidate name="check_kOff" >
								<input class="form" name="kOff_input" type="number" ng-model="input_check_kOff" placeholder="number" required>
							</form>
						</div>
							<!-- d. Dropdown Menu: units for check Kd -->
						<div class="col-md-4 unit-panel gloss-contrast">
							<select class="units_dropdown" ng-model="magnitudeSelected_check_Kd" ng-init="magnitudeSelected_check_Kd = 2">
								<option ng-value="0">mM</option>
								<option ng-value="1">uM</option>
								<option ng-value="2" ng-selected="true">nM</option>
							</select>						
						</div>
							<!-- e. Dropdown Menu: units for check kOn -->
						<div class="col-md-4 unit-panel">
							<select class="units_dropdown" ng-model="magnitudeSelected_check_kOn" ng-init="magnitudeSelected_check_kOn = 2">
								<option value="0">MMs&#x207b;&#xb9;</option>
								<option value="1">kMs&#x207b;&#xb9;</option>
								<option value="2" ng-selected="true">Ms&#x207b;&#xb9;</option>
							</select>						
						</div>
							<!-- f. Dropdown Menu: units for check Kd -->
						<div id="default_unit" class="col-md-4 unit-panel gloss-contrast">
							<div>s<sup>-1</sup></div>
						</div>
							<!-- g. Button: check -->
						<div id="check-btn-container" class="col-md-12 gloss-contrast2">
							<button id="check_submit" class="button clickable1" ng-click="view.check(input_check_Kd, input_check_kOn, input_check_kOff, magnitudeSelected_check_Kd, magnitudeSelected_check_kOn)" ng-disabled="check_Kd.Kd_input.$invalid || check_kOn.kOn_input.$invalid || check_kOff.kOff_input.$invalid">CHECK</button>
						</div>
					</div><br>
										<!-- Start of debugging box -->
					<!--div class="panel-heading">DEBUG: SYSTEM INFO</div>
					<div id="sys_info" class="panel-body">
						<br><br><div class="debug">Answers values</div><br>
						<div class="box-left">System ID</div>
						<div class="box-right"><u>{{view.system.uniqueID}}</u></div>
						<div class="box-left">Ligand Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right"><u>{{view.system.mwL | mwFilter}}</u></div>
						<div class="box-left">Receptor Mol Weight / gmol<sup>-1</sup></div>
						<div class="box-right"><u>{{view.system.mwR | mwFilter}}</u></div>
						<div class="box-left">Kd / uM</div>
						<div class="box-right">{{(view.system.Kd | uM_Filter | number: 2)}}</div><br>
						<div class="box-left">k<sub>on</sub> / s<sup>-1</sup></div>
						<div class="box-right">{{view.system.kOn}}</div><br>
						<div class="box-left">k<sub>off</sub> / M<sup>-1</sup>s<sup>-1</sup></div>
						<div class="box-right">{{view.system.kOff}}</div><br>
						<div class="box-left">Minimum time on</div>
						<div class="box-right">{{view.system.min_timeOn | number: 2}}</div><br>
						<div class="box-left">Minimum time off</div>
						<div class="box-right">{{view.system.min_timeOff | number: 2}}</div><br>

						<br><div class="debug">Backend Data Storage</div><br><br>
						<div class="box-left">User Type</div>
						<div class="box-right">{{view.user_type}}</div><br>
						<div class="box-left">Start Timestamp</div>
						<div class="box-right">{{view.startTime}}</div><br>
						<div class="box-left">End Timestamp</div>
						<div class="box-right">{{view.endTime}}</div><br>
						<div class="box-left">Session elapsed time</div>
						<div class="box-right">{{view.elapsed}}</div><br>
						<div class="box-left">Session steps count</div>
						<div class="box-right">{{view.sessionStepsCount}}</div><br>
						<div class="box-left">Session efficiency count</div>
						<div class="box-right">{{view.sessionEfficiencyCount}}</div><br>
						<div class="box-left">Session check count</div>
						<div class="box-right">{{view.sessionCheckCount}}</div><br>
						<div class="box-left">Check results log</div>
						<div class="box-right">{{view.checkResults}}</div><br>
					</div><br>
					<div class="panel-heading">DEBUG: CHANGE SYSTEM</div>
					<div id="dashboard" class="panel-body">
						<div class="col-md-4 track-panel gloss-contrast">
							<div>Kd</div>
							<form novalidate name="change_Kd">
								<input class="form" name="Kd_change_input" type="number" ng-model="input_change_Kd" placeholder="number" required>
							</form>
						</div>
						<div class="col-md-4 track-panel">
							<div>k<sub>on</sub></div>
							<form novalidate name="change_kOn">
								<input class="form" name="kOn_change_input" type="number" ng-model="input_change_kOn" placeholder="number" required>
							</form>
						</div>
						<div class="col-md-4 track-panel gloss-contrast">
							<div>k<sub>off</sub></div>
							<form novalidate name="change_kOff" >
								<input class="form" name="kOff_change_input" type="number" ng-model="input_change_kOff" placeholder="number" required>
							</form>
						</div>
						<div class="col-md-4 unit-panel gloss-contrast">
							<select class="units_dropdown" ng-model="magnitudeSelected_change_Kd" ng-init="magnitudeSelected_change_Kd = 2">
								<option ng-value="0">mM</option>
								<option ng-value="1">uM</option>
								<option ng-value="2" ng-selected="true">nM</option>
							</select>						
						</div>
						<div class="col-md-4 unit-panel">
							<select class="units_dropdown" ng-model="magnitudeSelected_change_kOn" ng-init="magnitudeSelected_change_kOn = 2">
								<option value="0">MMs&#x207b;&#xb9;</option>
								<option value="1">kMs&#x207b;&#xb9;</option>
								<option value="2" ng-selected="true">Ms&#x207b;&#xb9;</option>
							</select>						
						</div>
						<div id="default_unit" class="col-md-4 unit-panel gloss-contrast">
							<div>s<sup>-1</sup></div>
						</div>
						<div id="check-btn-container" class="col-md-12 gloss-contrast2">
							<button id="check_submit" class="button clickable1" ng-click="view.change(input_change_Kd, input_change_kOn, input_change_kOff, magnitudeSelected_change_Kd, magnitudeSelected_change_kOn)" ng-disabled="change_Kd.Kd_change_input.$invalid || change_kOn.kOn_change_input.$invalid || change_kOff.kOff_change_input.$invalid">CHANGE</button>
						</div>
					</div-->
										<!-- End of debugging box -->
				</div>
				<div id="output-box" class="container-fluid col-md-6">
						<!-- v. Panel: sensorgram output graph (angular flot chart) -->
					<div class="panel-heading">SENSORGRAM</div>
					<div id="sensorgram">
						<flot id="flot" dataset="view.chart.dataset" options="view.chart.options"></flot>
					</div><br>
						<!-- vi. Console -->
					<div id="console" class="panel-body">
							<!-- q. Prompt: Answer is correct -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true || view.kOn_correct == true || view.kOff_correct == true) && !(view.Kd_correct == true && view.kOn_correct == true && view.kOff_correct == true)">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#51A7F9">[Attempt {{view.checkCounter}} - correct answers]</font></b><br>
								<p class="declare-result" ng-show="view.Kd_correct == true">Your Kd value is correct!</p>
								<p class="declare-result" ng-show="view.kOn_correct == true">Your k<sub>on</sub> value is correct!</p>
								<p class="declare-result" ng-show="view.kOff_correct == true">Your k<sub>off</sub> value is correct!</p>
						</div>
							<!-- r. Prompt: Answer is wrong -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == false || view.kOn_correct == false || view.kOff_correct == false)">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#d83535">[Attempt {{view.checkCounter}} - wrong answers]</font></b><br>
								<p class="declare-result" ng-show="view.Kd_correct == false">Your Kd value is wrong!</p>
								<p class="declare-result" ng-show="view.kOn_correct == false">Your k<sub>on</sub> value is wrong!</p>
								<p class="declare-result" ng-show="view.kOff_correct == false">Your k<sub>off</sub> value is wrong!</p>
						</div>
							<!-- s. Prompt: All answer is correct! -->
						<div ng-show="view.isDisabled_check == false && (view.Kd_correct == true && view.kOn_correct == true && view.kOff_correct == true)">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#51A7F9">[All answers are correct!]</font></b><br>
							<p class="declare-result" ng-show="view.experiment.steps > 27 || view.experiment.steps < 23 || view.output.efficiencyRating < 100">Your answers are all in the right range! However, it appears that you have not achieve them within the <font color="#ececec">COMPLETION SCORES</font>. :(<br><br>

							To help you complete, you can download your data from the <font color="#ececec">RESULTS TABLE</font> and reflect upon how to improve your <font color="#ececec">Efficiency</font> or <font color="#ececec">Steps Count</font> with the demonstrator. Afterwards, click <font color="#ececec">RESTART GAME</font> and switch to <font color="#ececec">TRAINING</font> mode to access the <font color="#ececec">Walk-through</font> and helpful <font color="#ececec">Console</font> tips to improve your method.<br><br>

							Good luck! You are not far from completion!<br>
							</p>

							<p class="declare-result" ng-show="(view.experiment.steps <= 27 && view.experiment.steps >= 23) && view.output.efficiencyRating == 100">Congratulations, your answers, <font color="#ececec">Steps Count</font> and <font color="#ececec">Efficiency Rating</font> are all in the right range. Check with the demonstrator to confirm completion! :)<br><br>
							If you want to replay again with a new pair of ligand-receptor, click <b><button id="here_button" data-toggle="modal" data-target="#replay_modal">here</button></b>.<br><br>
							If you like this game, please provide <b><a href="mailto:c.srisakvarakul@gmail.com" class="blue-link">feedback</a></b> or <b><a href="mailto:?subject=Oxford Biochemistry: SPR Simulation Challenge&body=https://learntech.imsu.ox.ac.uk/SPR/" class="blue-link">challenge</a></b> your friends who might be interested!<br>
							</p>
							<!--b><a target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?sdk=joey&u=https%3A%2F%2Flearntech.imsu.ox.ac.uk%2FSPR%2F&display=popup&ref=plugin&src=share_button','title','width=500,height=300')" class="blue-link">share</a></b> or -->
						</div>
							<!-- p. Prompt: Unknown System Information -->
						<div ng-show="view.isDisabled_check == false">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[Identity of Ligand Receptor Pair]</font><br>
								- Ligand-Receptor Pair Unique ID: <font color="#ececec">{{view.system.uniqueID}}</font><br>
								- Ligand Molecular Weight / gmol<sup>-1</sup>: <font color="#ececec">{{view.system.mwL | mwFilter}}</font><br>
								- Receptor Molecular Weight / gmol<sup>-1</sup>: <font color="#ececec">{{view.system.mwR | mwFilter}}</font><br>
						</div>
							<!-- b. Prompt: after having lunch -->
						<div ng-show="view.experiment.timeOfDay == 13.5 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[Lunch]</font><br>
							12.00-13.00: Had lunch at Biochemistry Cafe with friends<br>
							13.00-13.30: Began new experiment after lunch<br>
						</div>
							<!-- c. Prompt: before having dinner -->
						<div ng-show="view.experiment.timeOfDay == 17.0 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[End of official working hour]</font></b><br>
							You are feeling tired. Output will now have an intermediate increase probability of getting higher standard deviation. You can continue your experiment now or resume tomorrow by clicking <font color="#ececec">HOME</font>. 
						</div>
							<!-- d. Prompt: after having dinner -->
						<div ng-show="view.experiment.timeOfDay == 18.5 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[Dinner]</font><br>
							17.00-18.00: Had steak & ale pie at The Eagle & Child with friends<br>
							18.00-18.30: Began new experiment after the dinner<br>
						</div>
							<!-- e. Prompt: before having supper -->
						<div ng-show="view.experiment.timeOfDay == 21.0 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#d83535">[Exhaustion warning]</font></b><br>
							You are feeling exhausted. Output will now have a high increase probability of getting higher standard deviation. You can continue your experiment now or resume tomorrow by clicking <font color="#ececec">HOME</font>.
						</div>
							<!-- f. Prompt: after having supper -->
						<div ng-show="view.experiment.timeOfDay == 22.5 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[Supper]</font><br>
							21.00-22.00: Had mars bars alone in the lab, poor you.<br>
							22.00-22.30: Began new experiment after supper<br>
						</div>
							<!-- g. Prompt: end of day -->
						<div ng-show="view.experiment.timeOfDay == 24.0 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#d83535">[Security guard warning]</font></b><br>
							The security guard is closing the Biochemistry building.<br>
							Unfortunately, you will have to end the experiment now and go <u>HOME</u>.<br>
						</div>
							<!-- h. Prompt: return home -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[End of a day @ {{view.experiment.endOfExperimentTime | timeFilter}}]</font><br>
							Automatic lab clean-up by CleanBots. . . Clean-up completed. (wish this was real)<br>
							See you tomorrow!<br>
						</div>
							<!-- i. Prompt: start of day auto-setup -->
						<div ng-show="view.experiment.timeOfDay == view.experiment.startOfDay && fLC_Form.fLC.$pristine && view.isDisabled_check == true && timeOn_Form.timeOn.$pristine || view.experiment.timeOfDay == view.experiment.startOfDay && view.experiment.daysAllowed !== view.experiment.daysLeft">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<font color="#ececec">[Start of a new day @ 9.00]</font><br>
							Experiment automatically setup. . . Setup completed @ 9.30.<br>
							Ready to begin. Please input values for <font color="#ececec">Free Ligand Concentration</font> and <font color="#ececec">Association Time</font> in <font color="#ececec">CONTROL PANEL</font> to begin. Click <font color="#ececec">START</font> and then <font color="#ececec">WASH</font> to begin the association and disassociation phase respectively.
							<br>
						</div>
							<!-- i. Prompt: plan your experiment -->
						<div ng-show="view.output.fLC.length == 0 && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Plan first!]</font></b><br>
							Wait! Before you start, have you plan your experimental strategy? Never start an experiment without a plan, otherwise <font color="#ececec">Steps</font> and <font color="#ececec">Efficiency Points</font> could be wasted. If you are not sure where to start, click the <font color="#ececec">Walk-through</font> for help!
							<br>
						</div>
							<!-- j. Prompt: remove background -->
						<div ng-show="view.isDisabled_background == false && fLC_Form.fLC.$dirty && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><b><font color="#F5D400">[Hint: Remove background]</font></b></b><br>
							Before trying any other combinations, you should set the background value to remove it from subsequent experiment. The option to set will appear after you <font color="#ececec">START</font> and <font color="#ececec">WASH</font> an experiment with <font color="#ececec">free ligand concentration = 0 M</font> with any <font color="#ececec">Association Time</font> input.<br>
						</div>
							<!-- k. Prompt: remove background successs -->
						<div ng-show="view.backgroundSet !== 0 && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] == 0 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#51A7F9">[Success: remove background]</font></b><br>
							Background had been set at {{view.backgroundSet}} {{view.backgroundUnitsSet}}.<br>
						</div>
							<!-- l. Prompt: RU on result is invalid -->
						<div ng-show="view.output.fLC.length !== 0 && view.output.timeOn[view.output.timeOn.length-1] < view.system.min_timeOn && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#d83535">[Hint: Invalid results]</font></b><br>
							<font color="#ececec">SENSORGRAM</font> shows binding has not reach equilibrium. This means <font color="#ececec">max RU</font> value is invalid for Langmuir Isotherm plotting later. Retry with a higher <font color="#ececec">Association Time</font>.<br>
						</div>
							<!-- m. Prompt: Low concentration suffer from high absolute error % -->
						<div ng-show="view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] < 0.00000002 && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.output.fLC_tableDisplay.length > 0 && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Hint: Absolute error]</font></b><br>
							Be careful of the output results in this <font color="#ececec">Free Ligand Concentration</font> range since the absolute error of SPR could take up a high proportion of it.<br>
						</div>
							<!-- l. Prompt: invalid free ligand conc. -->
						<div ng-show="fLC_Form.fLC.$dirty && fLC_Form.fLC.$invalid && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Invalid Free Ligand Concentration input]</font></b><br>
							<font color="#ececec">free ligand concentration</font> can only intake a number equal or above {{view.output.minimum_fLC_input}}.<br>
						</div>
							<!-- m. Prompt: invalid time on -->
						<div ng-show="timeOn_Form.timeOn.$dirty && timeOn_Form.timeOn.$invalid && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Invalid Association Time input]</font></b><br>
							<font color="#ececec">association time</font> input can only intake a number between 1 to 900.<br>
						</div>
							<!-- n. Prompt: maximum number of curve on graph reached -->
						<div ng-show="view.output.RU_CompiledLabelPlotAll.length == 20 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Maximum no. of plot on sensorgram reached]</font></b><br>
							<font color="#ececec">SENSORGRAM</font> can only display 10 curves at once. Please <font color="#ececec">CLEAR</font> your <font color="#ececec">SENSORGRAM</font> before you continue. The data in your <font color="#ececec">RESULTS TABLE</font> will not be cleared.<br>
						</div>
							<!-- o. Prompt: Too many steps -->
						<div ng-show="view.experiment.steps > 25 && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Trial {{view.experiment.steps}} - steps status]</font></b><br>
							Your steps count is above the optimum steps. Finish off your experiment, download your data from <font color="#ececec">RESULTS TABLE</font>, and using the framework in <font color="#ececec">Walk-through</font> as a guide, reflect on the steps you took and think of how to reduce your steps count.<br>
						</div>
							<!-- o. Prompt: Efficiency Points Lost -->
						<div ng-show="view.output.fLC.length !== 0 && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#F5D400">[Trial {{view.experiment.steps}} - efficiency status]</font></b><br>
							<p class="declare-result" ng-show="view.output.inefficiency_display !== 0"><font color="#ececec">{{view.output.inefficiency_display}} Effiency Points</font> lost!<br>
							Change your <font color="#ececec">Association Time</font> to equal when it reaches equilibrium! (buffer of 5 extra seconds allow before deduction)</p>
							<p class="declare-result" ng-show="view.output.inefficiency_display == 0"><font color="#ececec">0 Effiency Point</font> lost, keep it up!</p>
						</div>
							<!-- l. Prompt: RU on result is valid -->
						<div ng-show="view.output.fLC.length !== 0 && view.system.min_timeOn <= view.output.timeOn[view.output.timeOn.length-1] && view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0 && view.guideMode == true && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#51A7F9">[Hint: equilibrium reached]</font></b><br>
							<font color="#ececec">SENSORGRAM</font> shows binding has reach equilibrium!<br>
						</div>
							<!-- t. Prompt: session over -->
						<div ng-show="view.experiment.daysLeft == 0 && view.experiment.timeOfDay == view.experiment.endOfDay && view.isDisabled_check == true">
							<b><font color="#70BF41">> Console:</font></b>&nbsp;
							<b><font color="#d83535">[Experiment Ended]</font></b><br>
							You ran out of time to finish the experiment. To try again without changing the system, click <u>RESTART</u>.<br>
						</div>
					</div><br>
						<!-- vii. Panel: results table (ui-grid) -->
					<div class="panel-heading">RESULTS TABLE</div>
					<div id="result-table">
						<div class="grid" ui-grid="view.table.options" ui-grid-selection ui-grid-exporter></div>
					</div><br>
				</div>
				
				<div id="status-system-box" class="container-fluid col-md-3">
						<!-- viii. Panel: experiment status-->
					<div class="panel-heading">YOUR EXPERIMENT STATUS</div>
					<div id="dashboard" class="panel-body">
							<!-- a. Your Days Left -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Days Left</div>
							<div class="tracked-value">{{view.experiment.daysLeft}}</div>
						</div>
							<!-- b. Your Time -->
						<div class="col-md-6 track-panel">
							<div>Time</div>
							<div class="tracked-value">{{view.experiment.timeOfDay | timeFilter}}</div>
						</div>
							<!-- c. Yout Efficiency Points -->
						<div class="col-md-6 track-panel">
							<div>Efficiency Points</div>
							<div class="tracked-value">{{view.output.efficiencyRating}}</div>
						</div>
							<!-- d. Your Steps Taken -->
						<div id="track-panel-steps" class="col-md-6 track-panel gloss-contrast">
							<div>Steps</div>
							<div class="tracked-value">{{view.experiment.steps}}</div>
						</div>
					</div><br>
						<!-- ix. Panel: controls -->
					<div class="panel-heading">CONTROL PANEL</div>
					<div class="panel-body clickable-box">
							<!-- a) "Start" button -->
						<div class="box-left-btn">
							<button type="button" class="button clickable1 col-md-12" ng-click="view.runExperiment(magnitudeSelected_input_Kd, input_fLC, input_timeOn)" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_run == true || view.experiment.timeOfDay == view.experiment.endOfDay || view.output.RU_CompiledLabelPlotAll.length == 20" data-toggle="tooltip" title="Require: free ligand concentration and association time input">START</button> 
								<!-- note: set to 20 since on and off graph counted as a separate ones -->
						</div>
							<!-- b) "Washing up" button -->
						<div class="box-right-btn">
							<button class="button clickable2 col-md-12" ng-click="view.washUp(input_timeOn)" ng-disabled="view.isDisabled_wash == true" data-toggle="tooltip" title="Require: initiated START">WASH</button>
						</div>
							<!-- c) "remove background value" button -->
						<div class="box-left-btn">
							<button class="button clickable2 col-md-12" ng-click="view.set_background()" ng-disabled="fLC_Form.fLC.$invalid || timeOn_Form.timeOn.$invalid || view.isDisabled_background == true || view.isDisabled_run == true || view.output.RU_On_Output.length == 0 || view.output.fLC_tableDisplay[view.output.fLC_tableDisplay.length-1] !== 0" data-toggle="tooltip" title="Require: START free ligand concentration = 0 M">BACKGROUND</button>
						</div>
							<!-- d) "Clear chart" button -->
						<div class="box-left-btn">
							<button class="button clickable1 col-md-12" data-toggle="modal" data-target="#clear_modal" ng-disabled="view.output.RU_CompiledLabelPlotAll.length == 0 || view.isDisabled_run == true" data-toggle="tooltip" title="Data in table will not be erase">CLEAR</button>
						</div>
							<!-- e) "Go home" button -->
						<div class="box-right-btn">
							<button class="button clickable1 col-md-12" data-toggle="modal" data-target="#home_modal" ng-disabled="view.experiment.timeOfDay == view.experiment.startOfDay || view.experiment.daysLeft == 0">HOME</button>
						</div>
							<!-- f) "Help" button -->
						<div class="box-right-btn">
							<button type="button" class="button clickable2 col-md-12" data-toggle="modal" data-target="#intro1_modal">HELP</button>
						</div><br><br>
							<!-- h. free ligand concentration Input -->
						<div class="col-md-6 track-panel gloss-contrast">
							<div>Free Ligand Concentration</div>
							<form novalidate name="fLC_Form">
								<input class="form" name="fLC" type="number" step="1" min="{{view.output.minimum_fLC_input}}" placeholder="number" ng-model="input_fLC" required>
							</form>
						</div>
							<!-- i. association time Input -->
						<div class="col-md-6 track-panel gloss-contrast2">
							<div>Association Time</div>
							<form novalidate name="timeOn_Form">
								<input class="form" name="timeOn" type="number" step="1" min="1" max="900" placeholder="number" ng-model="input_timeOn" required>
							</form>
						</div>
							<!-- j. Drop-down Menu: Selecting units for free ligand concentration units -->
						<div class="col-md-6 unit-panel gloss-contrast">
							<select class="units_dropdown" ng-model="magnitudeSelected_input_Kd" ng-init="magnitudeSelected_input_Kd = 2">
								<option ng-value="0">mM</option>
								<option ng-value="1">uM</option>
								<option ng-value="2" ng-selected="true">nM</option>
							</select>
						</div>
							<!-- k. association time Units -->
						<div id="default_unit" class="col-md-6 unit-panel gloss-contrast2">seconds</div>
					</div><br>
				</div>
			</div><br>
			
			<!-- 4. Credit Box -->
			<div id="oxonHeaderFooter" class="row credit-box" style="position: absolute; width: 100%; bottom: 0;">
					<!-- a. Logo -->
				<div id="credit-left" class="col-md-2">
					<a target="_blank" href="http://www.ox.ac.uk/"><img src="images/ox-uni-logo.png" id="ox-logo"></a>
				</div>
					<!-- b. credit & buttons -->
				<div id="credit-box" class="col-md-10">
					<div id="credit-buttons">
							<!-- i. restart -->
						<button id="bottom_button" class="button actions" data-toggle="modal" data-target="#restart_modal" data-toggle="tooltip" title="All data will be erase. Ligand-Receptor will not change.">RESTART GAME</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- ii. replay -->
						<button id="bottom_button" class="button actions" data-toggle="modal" data-target="#replay_modal" data-toggle="tooltip" title="All data will be erase. Ligand-Receptor will change.">NEW GAME</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- iii. email to others -->
						<a href="mailto:?subject=Oxford Biochemistry: SPR Simulation Challenge&body=https://learntech.imsu.ox.ac.uk/SPR/" class="action-link"><button id="bottom_button" class="button actions">CHALLENGE FRIENDS</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- iv. feedback by emailing developer -->
						<!--a target="_blank" href="http://goo.gl/forms/L2ixc0XLtU" class="action-link"-->
						<a href="mailto:c.srisakvarakul@gmail.com" class="action-link"><button id="survey_button" class="button actions">FEEDBACK</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- v. facebook share -->
						<!--a target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?sdk=joey&u=https%3A%2F%2Flearntech.imsu.ox.ac.uk%2FSPR%2F&display=popup&ref=plugin&src=share_button','title','width=500,height=300')" class="action-link">
						<button id="bottom_button" class="button actions" data-href="https://learntech.imsu.ox.ac.uk/SPR/" data-layout="link">SHARE</button></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
					</div>
					<div id="credit-text">
						If you find it useful, please support the project development by providing feedback and share it to anyone you think might be helpful.
						<br><br>
						Developed for <a target="_blank" href="http://www.ox.ac.uk/admissions/undergraduate/courses-listing/biochemistry-molecular-and-cellular" class="blue-link">undergraduate students</a> at the <a target="_blank" href="http://www.bioch.ox.ac.uk/" class="blue-link">Department of Biochemistry</a>, University of Oxford by <a target="_blank" href="https://th.linkedin.com/in/chaiyakorn-srisakvarakul-30861b63" class="blue-link">Chaiyakorn Srisakvarakul</a>, with supervision by <a target="_blank" href="http://www.bioch.ox.ac.uk/aspsite/index.asp?pageid=580" class="blue-link">Dr. David Harris</a>, <a target="_blank" href="http://www.medsci.ox.ac.uk/support-services/damion-young" class="blue-link">Dr. Damion Young</a> and <a target="_blank" href="http://www.medsci.ox.ac.uk/support-services/jon-mason" class="blue-link">Jon Mason</a>.
						<br>
						<font color="#A6AAA9">The MIT License (MIT) Copyright &#xa9; 2016 Chaiyakorn Srisakvarakul</font>
					</div>
				</div>					
			</div>
		</div>   
	</body>
</html>