#chart {
	border: 1px solid #DCDEE0 !important;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#flot {
	display: flex;
	height: 231px;
}

#legend {
	border: 3px solid red !important;
	height: 100px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#hover {
	height: 100px;
	width: 100px;
}