/* Support for older version view */

* { 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; 
	font-family: 'PT Sans', sans-serif;
}

/* Media query: device size below 1024 width cannot use the simulation */

@media (max-width: 1023px) {
	body {
		background-color: #F5D400;
	}

	.largeDevice {
		display: none;
	}

	.smallDevice {
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15%;
		padding-bottom: 20%;
	}

	.smallDevice-heading {
		font-size: 5em;
	}

	.smallDevice-message {
		font-size: 1.4em;
		padding-bottom: 10px;
	}
}

@media (min-width: 1024px) {
	.smallDevice {
		display: none;
	}
}

/* Top navigation bar */

.navbar-custom {
    min-height: 0px; /* override the min-height of bootstrap */
    height: 5%;
    background-color: #002048;
}

.navbar-menu {
	width: 800px;
	margin: 0 auto;
}

.navbar-text {
	margin-top: 1%;
	margin-bottom: 0px;
}

.navbar-clicked {
	color: #51A7F9;
	text-decoration: none;
}

a.navbar-link:link {
	color: #ffffff;
	text-decoration: none;
}

a.navbar-link:visited {
	color: #ffffff;
	text-decoration: none;
}

a.navbar-link:hover {
	color: #51A7F9;
	text-decoration: none;
}

a.navbar-link:active {
	color: #51A7F9;
	text-decoration: none;
}

/* Global styling of the controller box */
#controller-box {
	padding-top: 5%;
	padding-left: 0px;
	padding-right: 0px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.panel-heading {
	background-color: #DCDEE0;
}

.panel-body {
	border: 1px solid #DCDEE0;
}

#guide-mastery-box {

}

#output-box {

}

#status-system-box {

}