/* Support for older version view */

* { 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; 
	font-family: 'PT Sans', sans-serif;
}

/* Media query: device size below 1024 width cannot use the simulation */

@media (max-width: 1023px) {
	body {
		background-color: #F5D400;
	}

	.largeDevice {
		display: none;
	}

	.smallDevice {
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15%;
		padding-bottom: 20%;
	}

	.smallDevice-heading {
		font-size: 5em;
	}

	.smallDevice-message {
		font-size: 1.4em;
		padding-bottom: 10px;
	}
}

@media (min-width: 1024px) {
	.smallDevice {
		display: none;
	}
}

/* Top navigation bar */

.navbar-custom {
    min-height: 0px; /* override the min-height of bootstrap */
    height: 35px;
    background-color: #002048;
}

.navbar-menu {
	width: 800px;
	margin: 0 auto;
}

.navbar-text {
	margin-top: 1%;
	margin-bottom: 0px;
}

.navbar-clicked {
	color: #51A7F9;
	text-decoration: none;
}

a.navbar-link:link {
	color: #ffffff;
	text-decoration: none;
}

a.navbar-link:visited {
	color: #ffffff;
	text-decoration: none;
}

a.navbar-link:hover {
	color: #51A7F9;
	text-decoration: none;
}

a.navbar-link:active {
	color: #51A7F9;
	text-decoration: none;
}

/* Global styling of the controller box */
#controller-box {
	padding-top: 55px;
	padding-left: 0px;
	padding-right: 0px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	background-color: #a6a6a6;
}

.button:disabled {
	background-color: #a6a6a6;
}

.panel-heading {
	background-color: #DCDEE0;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 3px;
	font-size: 0.85em;
}

.panel-body {
	border: 1px solid #DCDEE0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75em;
	padding: 12px;
}

.box-left {
	text-align: left;
	width: 73%;
	padding-bottom: 5px;
}

.box-right {
	text-align: right;
	width: 27%;
	padding-bottom: 5px;
}

.debug {
	color: blue;
}

/* button: guide vs mastery */
.mode-selection {
	text-align: center;
	font-size: 0.75em;
}

/* panel: guiding objectives */

.box-left-guide {
	text-align: left;
	width: 90%;
	padding-bottom: 8px;
}

.box-right-guide {
	text-align: right;
	width: 10%;
	padding-bottom: 8px;
}

#guide-bottom {
	padding-bottom: 0px;
}

/* panel: sensorgram */
#flot {
	display: flex;
	height: 195px;
	width: 100%;
}

#sensorgram {
	padding: 0px;
}

/* panel: console */
#console {
	height: 56px;
	background-color: #232323;
	color: #a6a6a6;
	display: table-cell;
    vertical-align: middle;
    min-width: 482px;
}

/* panel: result table */
#result-table {
	padding: 0px;
	display: block;
}

.grid {
	height: 187px;
	border: 0px;
}

.ui-grid-menu-button {
	height: 25px;
	width: 25px;
	text-align: center;
}
	
#button_active {
	/* This CSS id is inserted into ui-grid.min,js, and is for jQuery modification to red background-color when correct answer is obtained */
}

	
#icon_active {
	/* This CSS id is inserted into ui-grid.min,js, and is for jQuery modification to white color when correct answer is obtained */
}

/* panel: check answer */
#check-answer {
	display: flex;
	flex-direction: column;
}

.check {
	margin-left: auto;
	margin-right: auto;
}

#finish-box {
	font-size: 0.75em;
	text-align: center;
}

a.finish-btn:link {
	color: black;
	text-decoration: none;
}

a.finish-btn:visited {
	color: black;
	text-decoration: none;
}

a.finish-btn:hover {
	color: black;
	text-decoration: none;
}

a.finish-btn:active {
	color: black;
	text-decoration: none;
}

.declare-result {
	margin-bottom: 0px;
}

.box-left-check {
	text-align: left;
	width: 50%;
}

.box-right-check {
	text-align: right;
	width: 50%;
}

.check-form {
	width: 70px
}

/* panel: controls */
.box-left-btn {
	text-align: left;
	width: 50%;
}

.box-right-btn {
	text-align: left;
	width: 50%;
}

.conc-radio {
	width: 100%;
	text-align: center;
}

.input-form {
	width: 45px
}

/* footer: credit box */

.credit-box {
	background-color: #002048;
	margin-left: 0px;
	margin-right: 0px;
}

#ox-logo {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 110px;
	width: 110px;
	border: 1px solid white;
}
