/* Support for older version view */

* { 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; 
	font-family: 'PT Sans', sans-serif;
}

.navbar-custom {
    background-color: #002048;
}

.navbar-menu {
	width: 800px;
	margin: 0 auto;
}

.navbar-text {
	color: #ffffff;
}